<style>
#accessibility {
	padding: 55px 0px;
}

#accessibility .section-title {
	margin-bottom: 25px;
}

</style>


<%- include('./partials/global/header.ejs') -%>
<div class='hide-on-mobile'>
	<%- include('./partials/global/topbar.ejs') -%>
	<%- include('./partials/global/navtop.ejs') -%>
</div>
	<%- include('./partials/global/navbar.ejs') -%>
	<%- include('./partials/scroll.ejs') -%>


<div id='accessibility'>
<div class='section-title center'>Accessibility Notice</div>

<div class='container'>
<div class='section-text'>

<p>Wilmington Mental Health is committed to ensuring digital accessibility for people with disabilities. We are continually improving the user experience for everyone and applying the relevant accessibility standards.</p>


<p><div class='bold'>Measures To Support Accessibility</div>
Wilmington Mental Health takes the following measures to ensure accessibility of Accessibility Notice:
<li>Include accessibility as part of our mission statement.</li>
<li>Include accessibility throughout our internal policies.</li>
<li>Assign clear accessibility targets and responsibilities.</li>
<li>Navigation of menus is consistent throughout the site</li>
<li>Text is presented with image links and alternative access</li>
<li>Site structure is logically arranged to assist screen readers</li>
<li>Site dynamically adjust to fit any screen size</li>
<li>Compatibility with commonly used browsers, including Internet Explorer/Edge, Firefox, Safari, and Google Chrome.</li></p>

 
<div class='bold'>Conformance Status</div>
<p>The Web Content Accessibility Guidelines (WCAG) and Americans with Disabilities Act (ADA) define requirements for designers and developers to improve accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA, and Level AAA. Accessibility Notice is fully conformant with WCAG 2.1 level AA. Fully conformant means that the content fully conforms to the accessibility standard without any exceptions.</p>

<div class='bold'>Additional Accessibility Considerations</div>
<p>Although our goal is WCAG 2.1 Level AA conformance, we have also applied some Level AAA Success Criteria: Images of text are only used for decorative purposes. Re-authentication after a session expires does not cause loss of data. Some videos have sign language interpretation.</p>
<div class='bold'>Technical Specifications</div>
<p>Accessibility of Accessibility Notice relies on the following technologies to work with the web browser and any assistive technologies or plugins installed on your computer:
<li>HTML </li>
<li>CSS</li>
</p>

<p>These technologies are relied upon for conformance with the accessibility standards used.</p>

<div class='bold'>Self-Evaluation - Accessibility for People of all Abilities and Disabilities</div>
<p>Please contact us at (910) 777-55 if you use assistive technology and the format of this website interferes with your ability to access information. We may ask about the preferred format in which you wish to receive the material and your contact information. You can also contact us by phone through the Federal Information Relay Service at 1-800-877-8339 for TTY/Voice communication.</p>
<p>Wilmington Mental Health adopts and implements procedures to ensure that persons with impaired vision or hearing can obtain information as to the existence and location of services, activities, and facilities that are accessible to and usable by disabled persons (45 C.F.R. ยง84.22(f)).</p>
<p>Wilmington Mental Health access features to disabled persons, including persons who have sensory impairments, such as:
<li>Convenient off-street parking designated specifically for disabled persons.</li>
<li>Curb cuts and ramps between parking areas and buildings.</li>
<li>Level access into first floor level.</li>
<li>Fully accessible offices, meeting rooms, bathrooms, public waiting areas, including patient treatment areas.</li>
<li>A full range of assistive and communication aids provided to persons who are deaf, hard of hearing, or blind, or with other sensory impairments. There is no additional charge for such aids. Some of these aids include:</li>
<li>A twenty-four hour (24) telecommunication device (TTY/TDD) which can connect the caller to all extensions within the facility and/or portable (TTY/TDD) units, for use by persons who are deaf, hard of hearing, or speech impaired.</li>
<li>Large print materials for the visually impaired.</li>
<li>Flash cards, alphabet boards and other communication boards.</li>
<li>Assistive devices for persons with impaired manual skills.</li>
</p>
<p>If you require any of the aids listed above, please us know.
</p>

<div class='bold'>Feedback</div>
<p>We welcome your feedback on the accessibility of Accessibility Notice. Please let us know if you encounter accessibility barriers on Accessibility Notice:</p>

<p>
Phone: 910-777-5575<br>
E-mail: info@wmhwc.com<br>
Office Address: 3825 Market St, Ste 4,<br>
Wilmington, NC 28403
</p>
<p>
We try to respond to feedback within 48 hours!
</p>

</div>
</div>
</div>
<%- include('./partials/global/footer.ejs') -%>
