<%- include('./partials/global/header.ejs') -%>
<div class='hide-on-mobile'>
	<%- include('./partials/global/topbar.ejs') -%>
	<%- include('./partials/global/navtop.ejs') -%>
</div>
<%- include('./partials/scroll.ejs') -%>
<%- include('./partials/global/navbar.ejs') -%>
<%- include('./partials/services/biofeedback-getstarted.ejs') -%>
<%- include('./partials/services/biofeedback-facts.ejs') -%>
<%- include('./partials/services/biofeedback-how.ejs') -%>
<%- include('./partials/services/biofeedback-types.ejs') -%>
<%- include('./partials/services/biofeedback-exercises.ejs') -%>
<%- include('./partials/services/biofeedback-provider.ejs') -%>
<%- include('./partials/services/biofeedback-faq.ejs') -%>
<%- include('./partials/global/footer.ejs') -%>