<%- include('./partials/global/header.ejs') -%>
    <div class='hide-on-mobile'>
        <%- include('./partials/global/topbar.ejs') -%>
            <%- include('./partials/global/navtop.ejs') -%>
    </div>
    <%- include('./partials/scroll.ejs') -%>
        <%- include('./partials/global/navbar.ejs') -%>
        <%- include('./partials/careers/careers.ejs') -%>
        <%- include('./partials/careers/mental.ejs') -%>
        <%- include('./partials/careers/administrative.ejs') -%>
        <%- include('./partials/careers/careerdocs.ejs') -%>

                <%- include('./partials/global/footer.ejs') -%>