<%- include('./partials/global/header.ejs') -%>
<div class='hide-on-mobile'>
	<%- include('./partials/global/topbar.ejs') -%>
	<%- include('./partials/global/navtop.ejs') -%>
</div>
<%- include('./partials/scroll.ejs') -%>
<%- include('./partials/global/navbar.ejs') -%>
<%- include('./partials/community/community-list.ejs') -%>
<div class='container'>
	<div class='table-width' style='width: 90%'>
		<%- include('./partials/community/community.ejs') -%>
	</div>
</div>

<%- include('./partials/global/footer.ejs') -%>