<%- include('./partials/global/header.ejs') -%>
<div class='hide-on-mobile'>
	<%- include('./partials/global/topbar.ejs') -%>
	<%- include('./partials/global/navtop.ejs') -%>
</div>
<%- include('./partials/scroll.ejs') -%>
<%- include('./partials/global/navbar.ejs') -%>
<%- include('./partials/global/user-dashboard.ejs') -%>

<style>

#dashboard #delete button {
	background: transparent;
	padding: 0px;
	color: red;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 16px;
}
#dashboard {
	padding: 55px 0px;
}

#new {
	float: right;
}

table {
	width: 100%;
}

thead {
	text-decoration: underline;
}
</style>

<div id='dashboard'>
	<div class='container'>
		<div class='section-title'>Dashboard<a href='./new'><button id='new'>New Post</button></a></div>
			<hr>
			<table>
				<thead>
					<th>Blog Title</th>
					<th>Author</th>
					<th>Date</th>
					<th>Draft</th>
					<th>Edit</th>
					<th>Delete</th>
				</thead>
				<% post.forEach(function(post){ %>
					<% if(post){ %>
				<tr>
						<td><%= post.post_title %></td>
						<td><%= post.post_author %></td>
						<td><%= post.post_date %></td>
						<td><%= post.draft %></td>
						<td><a href='/edit/<%= post.post_id %>'>Edit</a></td>
						<td><form method="POST" action="/<%= post.post_id %>?_method=DELETE" id="delete"><button type='submit'>Delete</button></form></td>
						<td></td>
				</tr>
				<% } %>
				<% }) %>
			</table>
	</div>
</div>


<%- include('./partials/global/footer.ejs') -%>