<%- include('./partials/global/header.ejs') -%>
<div class='hide-on-mobile'>
	<%- include('./partials/global/topbar.ejs') -%>
	<%- include('./partials/global/navtop.ejs') -%>
</div>
<%- include('./partials/scroll.ejs') -%>
<%- include('./partials/global/navbar.ejs') -%>
<%- include('./partials/handouts/header.ejs') -%>
<%- include('./partials/handouts/intake.ejs') -%>
<%- include('./partials/handouts/patienttype.ejs') -%>
<%- include('./partials/patientintake/intake-forms.ejs') -%>
<%- include('./partials/handouts/important.ejs') -%>
<%- include('./partials/handouts/docs.ejs') -%>
<%- include('./partials/handouts/assignments.ejs') -%>

<%- include('./partials/global/footer.ejs') -%>