<style>

    .quote {
        margin-top: 55px;
        font-size: 26px;
        text-align: center;
    }
    .photo img {
        height: 220px;
    }
    
    
    .price {
        font-size: 30px;
        color: #4EAAC8;
        margin: 55px 0px;
    }
    
    #office {
        width: 100%;
        margin-top: 25px;
    }
    .message {
        border: 1px solid navy;
        padding: 20px;
    }
    #blackmon {
        padding: 55px 0px;
    }
    
    .section {
        font-size: 26px;
        font-weight: 300;
        color: #4EAAC8;
        margin-top: 55px;
    }
    
    </style>
    
    <%- include('./partials/global/header.ejs') -%>
    <div class='hide-on-mobile'>
        <%- include('./partials/global/topbar.ejs') -%>
        <%- include('./partials/global/navtop.ejs') -%>
    </div>
    <%- include('./partials/global/navbar.ejs') -%>
    
    
    <div id='blackmon'>
        <div class='container'>
            <div class='disclosure section-text' style='right: 150; position: absolute'>Professional Disclosure Statement <a href='./images/havahpds.pdf' target='_blank'> <i class="fas fa-file-download" style='margin-left: 10px; color: gray'></i></a></div>

            <div class='center'><img src='./images/dust.png' alt="Dust background">
                <div class='section-title'>Havah Henzler</div>
                <div class='section-text'>MA, LCSW, LCAS, CAMS-II, CCMC, CCSI</div>
                <div class='section-text'>Therapist at Wilmington Mental Health</div>
            </div>
            <div class='top'>
                <div class='row' style='margin-top: 55px'>
                    <div class='col-lg-3'>
                        <span class='photo'><img src='./images/henzler.jpg' alt='Havah Profile></span>
                    </div>
                    <div class='col-lg-9'>
                        <span class='section-text'>
                        <p>Life can be tough sometimes. Let me be the person you can trust, the one who is going to listen to you without judgement. People are by nature relational. It is natural to feel like you need to express yourself and be vulnerable when life may not be exactly what you thought or hoped it would be. Talking to someone who is nonjudgmental and whose sole purpose is to come alongside you to help you navigate through your struggles is where I come in. Please allow me to be your support in your time of need. Through the therapeutic process you will learn to manage your difficulties & heal your inner soul.</p>
                        </span>
                        <span><img src='./images/graywave.png' class='wave' alt='Gray wave seperator'></span>
                    </div>
                </div>
            </div>
            <div class='section'>About Me</div>
            <div class='section-text'>
                <p>I’m a vibrant Latina originally from Mexico city. I am trilingual. I specialize in treating people  that  have experienced trauma. I have been in Wilmington NC since 2003 and I graduated with a Master in Social Work MSW from East Carolina University in 2009. I’m a Licensed Clinical Social Worker (LCSW) and a Licensed Clinical Addiction Specialist (LCAS) </p>

                <p>I started in the human services field in 2005 in Child Protective Services at DHHS. My love and compassion for “hurting people” led me into this profession, and I decided to pursue counseling as a means to help others through their current struggles  and often challenging past experiences. I utilize several therapeutic tools to help others achieve their goals and objectives including Cognitive Behavioral Therapy(CBT) and parent Child Interaction therapy  (PCIT) but I would like to say that my area of expertise and one I specialize in is treating trauma issues. My favorite technique is Eye Movement Desensitization and reprocessing (EMDR). This technique is extremely effective in helping individuals move forward in their lives from a past trauma or negative event that has caused them to become ‘stuck” in their current daily life. I truly believe in this approach as I have seen many of the people I worked  with overcome major obstacles through the use of this therapeutic tool</p>
                    
    
    
            </div>
            <div class='section'>My Process</div>
            <div class='section-text'>
                <p>Together, we will design a program that applies to your needs. I will help you develop a future-oriented character to enhance your healthier lifestyle probabilities. Your initial assessment will help us understand the reasons you are seeking guidance. I will gather information about you, including your socio-cultural background, history of treatment, and current mental health symptoms. This comprehensive analysis of your situation is critical in identifying diagnoses that will help us design a treatment plan that works for you. Session two and three focus on exploring the underlying circumstances of your symptoms and identify treatment goals. As your treatment progresses, I will present tools, skills, techniques, and solutions to help you develop stabilization, find the person you genuinely are, and face the fears and worries that keep troubling you.</p>

                <p>Our therapeutic encounters are each an opportunity to learn more about your inner power. Psychotherapy will be the medium to explore what triggers your maladaptive thoughts, emotions and behaviors and what keeps you feeling as though you have lost control of yourself. And some of our conversations will examine the concepts of meaning and purpose, as well as how to make your existence on this planet significant to you and those around you.
                    </p>
    
            </div>
            <br>
            <div class='section-text'>
                <div class='row'>
                    <div class='col-lg-7'>
                                <div class='section'>Education and Credentials</div>
    
                        <table class='section-text' style='width: 100%'>
                            <tr>
                                <td>Master’s Degree in Social Work<br>East Carolina University 2009<br> </td>
                            </tr>
                            <tr>
                                <td style='padding-top: 25px'>Licensed Clinical Social Worker <br>License # C007489 (<a href='https://portal.ncblcmhc.org/verification/search.aspx'>See License Status</a>)</td>
                            </tr>
                            <tr>
                                <td style='padding-top: 25px'>Clinical Addiction Specialist Associate<br>License # LCAS-1857 (<a href='https://portal.ncblcmhc.org/verification/search.aspx'>See License Status</a>)</td>
                            </tr>
                        </table>
                        <div class='section-text' style='padding-top: 20px'>&check; Verified by <span class='bold' style='color: navy'>Psychology Today</span></div>
    
                        <div class='section'>What I love to do during my free time…</div>
                        <div class='section-text'>I enjoy sharing my life and experiences with the people that I love and care, I also love to enrich my professional growth by learning about human behavior.  I have a passion for traveling because I like to learn about other cultures, their people, their cuisine and language.  And I try to enjoy life to the fullest. Life has taught me how ephemeral it can be. </div>
                    </div>
                    <div class='col-lg-5'>
                        <img src='./images/couchroom.jpg' id='office' alt='Couch in a room'>
                    </div>
                </div>
            </div>
    
            <div class='quote'>“What lies behind us and what lies before us are tiny matters compared to what lies within us.”
                <br>
                – Ralph Walso Emerson
                </div>
    
            <br><br>
    
                <div class='row section-text'>
                    <div class='col-lg-3'>
                        <div class='center' style='margin-top: 45px'>If you feel we may be a good fit, schedule a free phone consultation today.</div>
                        <div class='buttons' style='text-align: center; margin-top: 25px'>
    
                        <a href="https://wmh1.clientsecure.me" data-spwidget-scope-id="d18270b1-1ca3-4e69-9d82-9ac2300a0eb4" data-spwidget-scope-uri="wmh1" data-spwidget-application-id="7c72cb9f9a9b913654bb89d6c7b4e71a77911b30192051da35384b4d0c6d505b" data-spwidget-scope-global data-spwidget-autobind><button class='new' style='width: 80%'>New Patient</button>
                        </a>
                        <br><br>
                        <a href='https://wmh1.clientsecure.me/sign-in'><button class='existing' style='width: 80%; background: #00314A !important'>Existing Patient</button></a>
                        <br><br><br>
                        Phone: 910.777.5575 ext. 102
                </div>
                    </div>
                    <div class='col-lg-6'>
                        <div class='message center' style='margin-bottom: 50px'>
                <div class='center' style='font-size: 40px'><i class="far fa-envelope"></i></div>
    
    
                <div class='section-title center' style='padding-bottom: 25px'>Message Me</div>
                <form action='/contact' method='POST'>	
                    <div class="form-group">
                            <input type="text" id="to" name="to" class="form-control" value="hhenzler@wmhwc.com" hidden>
                        </div>
                        <div class="form-group">
                        <input type="text" id="Name" name="Name" class="form-control" placeholder="Full Name*" required>
                    </div>							
    
                    <div class="form-group">
                        <input type="text" id="Number" name="Number" class="form-control" placeholder="Contact Number*" required>
                    </div>		
    
                    <div class="form-group">
                        <input type="email" id="Email" name="Email" class="form-control" placeholder="Email*" required>
                    </div>
    
                    <div class="form-group">
                        <textarea type="message" id="Message" name="Message" class="form-control" placeholder="Message" rows='4'></textarea>
                    </div>
    
                    <button type="submit" id="" class="" style='height: 50px; width: 200px; margin-bottom: 0px'>Send</button>
                </form>
    
            </div>
                    </div>
                    <div class='col-lg-3'>
                        <p style='padding-top: 45px'>My availability<br>
                            M – F   9:00am - 7:30pm <br>
                        </p>
                        <br>
                        <p>My patients are<br>
                        14 years old and older</p>
                        <br>
                    
                        <br>
                        <p>My specialties<br>
                        Mental and behavioral health<br>
                        Substance Abuse
                        </p>
    
                    </div>
                </div>
        </div>
    </div>
    </div>
    
    <%- include('./partials/global/footer.ejs') -%>