<%- include('./partials/global/header.ejs') -%>
<div class='hide-on-mobile'>
	<%- include('./partials/global/topbar.ejs') -%>
	<%- include('./partials/global/navtop.ejs') -%>
</div>
<%- include('./partials/scroll.ejs') -%>
<%- include('./partials/scroll.ejs') -%>
<%- include('./partials/global/navbar.ejs') -%>
<%- include('./partials/home/jumbotron.ejs') -%>
<%- include('./partials/home/boxes.ejs') -%>
<%- include('./partials/home/whyus.ejs') -%>
<%- include('./partials/home/what.ejs') -%>
<%- include('./partials/home/stats.ejs') -%>
<%- include('./partials/home/what2.ejs') -%>
<%- include('./partials/home/getstarted.ejs') -%>
<%- include('./partials/home/verify.ejs') -%>
<%- include('./partials/home/map.ejs') -%>
<%- include('./partials/global/footer.ejs') -%>

