<%- include('./partials/global/header.ejs') -%>
<div class='hide-on-mobile'>
	<%- include('./partials/global/topbar.ejs') -%>
	<%- include('./partials/global/navtop.ejs') -%>
</div>
<%- include('./partials/scroll.ejs') -%>
<%- include('./partials/global/navbar.ejs') -%>
<%- include('./partials/insurance/insurance-carousel.ejs') -%>
<%- include('./partials/insurance/out-of-network.ejs') -%>
<%- include('./partials/insurance/private-pay.ejs') -%>
<%- include('./partials/insurance/fees.ejs') -%>
<%- include('./partials/global/footer.ejs') -%>