<%- include('./partials/global/header.ejs') -%>
<div class='hide-on-mobile'>
	<%- include('./partials/global/topbar.ejs') -%>
	<%- include('./partials/global/navtop.ejs') -%>
</div>
<%- include('./partials/global/navbar.ejs') -%>
<%- include('./partials/intake/process.ejs') -%>
<%- include('./partials/intake/when.ejs') -%>
<%- include('./partials/intake/admission-criteria.ejs') -%>
<%- include('./partials/intake/intake-process.ejs') -%>
<%- include('./partials/intake/population.ejs') -%>

<%- include('./partials/global/footer.ejs') -%>
