<style>

.fa-print {
	font-size: 24px;
	position: relative;
	left: 10;
	top: 20;
	color: gray;
}

.language {
	position: absolute;
	right: 10px;
	top: 188px;
	background: #6E59A1;
	border-radius: 0px 0px 10px 10px;
}

#privacy {
	padding: 55px 0px;
}

.top {
	border: 1px solid gray;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 10px;
}	


</style>


<%- include('./partials/global/header.ejs') -%>
<div class='hide-on-mobile'>
	<%- include('./partials/global/topbar.ejs') -%>
	<%- include('./partials/global/navtop.ejs') -%>
</div>
	<%- include('./partials/global/navbar.ejs') -%>
	<%- include('./partials/scroll.ejs') -%>

<div class='container'><a href='./images/NOPP.pdf'><i class="fas fa-print"></i></a></div>

<div id='privacy'>
<a href='/privacy'><button class='language'>Advisory in English</button></a>
<div class='section-title center'>AVISO DE PRÁCTICAS DE PRIVACIDAD</div>
<div class='section-text center'>FECHA DE ENTRADA EN VIGOR: 1 DE ABRIL DE 2017</div>
<div class='container'>
<div class='section-text'>
		<div class='top'>ESTE AVISO DESCRIBE CÓMO SE PRODRÍA USAR Y DIVULGAR SU INFORMACIÓN MÉDICA Y CÓMO PUEDE USTED ACCEDER A DICHA INFORMACIÓN. LEA ESTE EVISO ATENTAMENTE. LA PRIVACIDAD DE SU INFORMACIÓN ES IMPORTANTE PARA NOSOTROS.</div>
<div class='container'>
<div class='section-text'>

<p>Cada vez que usted recibe un tratamiento o beneficios de Wilmington Mental Health, incluyendo asistencia de nuestros empleados, contratistas, aprendices y voluntarios; o personal autorizado, recibimos, creamos y guardamos información sobre su salud, tratamiento y pago de servicios. Nunca usaremos o divulgaremos su información sin su autorización (permiso) por escrito salvo en los casos que se describen en este aviso.</p>
<div class='bold'>NUESTRAS OBLIGACIONES</div>
<p>Por ley estamos obligados a proteger la privacidad de su información de la salud protegida, proporcionarle el aviso de nuestras obligaciones legales y prácticas de la privacidad con respecto a información de la salud protegida, y acatar los términos de este aviso actualmente en efecto. La información de la salud protegida (Protected Health Information o PHI por sus siglas en inglés) incluye información que nosotros recopilamos sobre su salud pasada, presente y futura, cuidado de la salud que nosotros le proporcionamos y pago por el cuidado de su salud.</p>

<p>Nos reservamos el derecho a cambiar los términos de este aviso y a hacer que el aviso revisado sea válido para toda la información de su salud que mantenemos. Publicaremos todos los avisos revisados en nuestro sitio web público en www.wilmingtonmentalhealth.com y en las salas de espera. Puede solicitar una copia del aviso revisado en su próxima visita. Para más información sobre nuestras prácticas de privacidad, o para copias adicionales de este aviso, por favor póngase en contacto con nosotros utilizando la información que aparece al final de este aviso o puede contactar a nuestro Oficial de Privacidad llamando al (910) 777-5575. </p>

<div class='bold'>USOS Y DIVULGACIONES DE INFORMACIÓN MÉDICA </div>
<p>La ley federal requiere que protejamos la privacidad de su PHI. Además, la ley de Carolina del Norte no solamente protege sus derechos de privacidad, sino también su relación con su médico y, si aplica, con su proveedor de cuidados de la salud mental. La ley estatal restringe la divulgación de su información de la salud bajo muchas circunstancias. Sin embargo, puede que divulguemos su información de la salud bajo la ley estatal y federal para tratamiento, pago y operaciones del negocio de cuidados de la salud con su consentimiento; de acuerdo a una orden de la corte o conforme sea permitido o requerido por la ley. </p>

<p>La ley estatal de Carolina del Norte y la ley federal nos permiten usar y divulgar su PHI sin su autorización escrita de la manera siguiente:</p>

<p><span class='bold'>Tratamiento</span> - Nosotros necesitamos usar y divulgar la PHI acerca de usted para proporcionar, coordinar o dirigir su cuidado de la salud y servicios relacionados. Esto puede incluir comunicarse con otros proveedores de cuidados de la salud con relación a su tratamiento y coordinar y dirigir su cuidado con otros. Por ejemplo, necesitamos usar y divulgar su PHI tanto dentro como fuera de nuestro sistema cuando usted necesita recetas médicas, pruebas de laboratorio, rayos-x u otros servicios de cuidados de la salud. Además, necesitamos usar y divulgar su PHI al remitirle a otro proveedor de cuidados de la salud.</p>

<p><span class='bold'>Pago</span> - Puede que usemos y divulguemos su PHI a otros para facturar y cobrar el pago por los tratamientos y servicios que le proporcionamos. Antes de recibir servicios programados, podría necesitar compartir información acerca de estos servicios con su(s) plan(es) de seguro médico. Compartir la información nos permite solicitar cobertura bajo su plan de salud o póliza y para obtener aprobación de pago antes de prestarle los servicios. Podríamos también necesitar compartir información médica acerca de usted con los siguientes:</p>

<p><ul>
<li>Agencias o departamentos de cobros, o abogados ayudándonos con los cobros, incluyendo la Oficina del Fiscal General de Carolina del Norte.</li>
<li>Compañías de seguros, planes de seguro médico y sus agentes.</li>
<li>Agencias de reporte al consumidor (por ejemplo, agencias de crédito).</li>
<li>Otros que sean responsables por sus cuentas, tales como su cónyuge o un garante de sus cuentas, según sea necesario para que podamos cobrar el pago.</li>
</ul></p>

<p><span class='bold'>Para Operaciones del Cuidado de su Salud</span> - Podemos usar y divulgar su PHI para realizar actividades del cuidado de su salud que nos permiten mejorar la calidad del cuidado que proveemos y reducir los costos del cuidado de la salud. Puede que utilicemos su PHI para nuestras operaciones del cuidado de su salud y aquellas del acuerdo para el cuidado organizado de la salud en el que nosotros participamos. Además, puede que necesitemos divulgar su PHI para las operaciones del cuidado de su salud de otros proveedores involucrados en su cuidado para mejorar la calidad, eficiencia y costos de su cuidado o para evaluar y mejorar el rendimiento de sus proveedores. Puede que también divulguemos información a aprendices y voluntarios; y miembros de nuestro personal autorizado para propósitos de revisión y enseñanza.</p>

<p><span class='bold'>Actividades para recaudar fondos</span> - Puede que usemos o divulguemos cierta PHI sobre usted, incluyendo divulgarla a una de nuestras fundaciones para contactarle para recaudar fondos para nuestros servicios y operaciones. Usted tiene el derecho de rehusar seguir recibiendo estas comunicaciones. Si usted no desea que utilicemos su PHI para contactarle en nuestros esfuerzos para recaudar fondos, llame por teléfono o escriba a la dirección que se encuentra en la última página de este aviso.</p>

<p><span class='bold'>Recordatorios de citas</span> - Puede que utilicemos y compartamos información de la salud para contactar con usted como recordatorio de que tiene una cita para tratamiento o cuidado médico.</p>

<p><span class='bold'>Alternativas de tratamiento y beneficios y servicios relacionados con la salud - </span>Puede que utilicemos y compartamos información de la salud para decirle o recomendarle posibles opciones de tratamiento o alternativas que pueden interesarle, beneficios o servicios relacionados con la salud que pueden interesarle o para decirle sobre nuevas instalaciones que estamos abriendo.</p>
 
<p><span class='bold'>Acuerdos para el cuidado organizado de la salud - </span> Podemos compartir su PHI entre ellos para el tratamiento, pago y operaciones del negocio de cuidados de su salud y para ciertas actividades conjuntas. Podemos usar y divulgar la PHI bajo otras circunstancias sin su autorización o sin la oportunidad de concordar u oponerse. Podemos usar o divulgar su PHI en un sinnúmero de circunstancias en las cuales usted no tiene que consentir, dar autorización o de otra manera tener la oportunidad de concordar u oponerse, como:</p>
<ul>
<li>Cuando sea necesario para evitar una grave amenaza a su salud y seguridad o a la salud y seguridad del público u otra persona.</li>
<li>A organizaciones que facilitan la donación y trasplante de tejidos u órganos.</li>
<li>Para oficiales autorizados cuando se requiere bajo la ley federal, estatal, o local. Por ejemplo: reportar abuso o negligencia hacia un niño o una persona discapacitada o para reportar cierto tipo de heridas o lesiones.</li>
<li>En respuesta a ciertas citaciones, órdenes de la corte, u órdenes administrativas.</li>
<li>Conforme lo requiere la ley, para actividades de salud pública. Por ejemplo: evitar o controlar enfermedades y reportar nacimientos y muertes.</li>
<li>Para actividades aprobadas de indemnización por accidentes laborales o ‘worker’s compensation’.</li>
<li>A agencias regulatorias de salud. Por ejemplo: agencias que hacen cumplir con requerimientos de licencias o acreditación.</li>
<li>A las autoridades policiales, como en el caso de ciertos crímenes.</li>
<li>A los funcionarios forenses, médicos forenses o directores de funerarias para llevar a cabo sus obligaciones.</li>
<li>Conforme lo necesiten las autoridades del mando militar, si usted es miembro de las fuerzas armadas.</li>
<li>A nuestros asociados de negocios para llevar a cabo el tratamiento, pago u operaciones del negocio de cuidados de la salud en nuestro nombre. Por ejemplo: puede que divulguemos información de salud sobre usted a la compañía que factura a las compañías de seguro por nuestros servicios.</li>
<li>Para investigación o para reunir información en bases de datos para usar en investigaciones en el futuro. Puede que divulguemos su PHI y las muestras sobrantes, para investigación que esté aprobada por un comité de revisión de investigación que determinó que su consentimiento escrito para la divulgación no se requiere. Puede que también revisemos su PHI para determinar si usted califica para participar en un estudio de investigación médica o para permitir al investigador que lo contacte por teléfono, correo electrónico, mensaje de texto o por correo postal para determinar si usted está interesado en participar en un estudio de investigación médica.</li>
<li>A un centro penitenciario que tiene su custodia legal conforme sea necesario para su salud y la seguridad de otros.</li>
<li>Podemos quitar o agregar identificadores para que la información se vuelva anónima y después usarla o compartirla sin su autorización por escrito.</li>
</ul>
<div class='bold'>USTED SE PUEDE OPONER A CIERTOS USOS Y DIVULGACIONES</div>
<p>A menos que usted se oponga, podemos usar o divulgar la PHI acerca de usted en las siguientes circunstancias:</p>
<ul>
<li>Directorios del hospital o de las instalaciones. Podemos compartir su ubicación en la instalación y su condición en general (crítica, grave, etc.) en nuestra lista de pacientes con personas que pregunten por usted por su nombre. Puede que también compartamos su afiliación religiosa con el clero.</li>
<li>Personas involucradas en su cuidado o en el pago por su cuidado. Puede que compartamos su información de salud con un familiar, representante personal, amigo u otra persona que usted identifique, cuando la información está directamente relacionada con la participación de ellos en su cuidado o en el pago por su cuidado.</li>
<li>Circunstancias de emergencia y auxilio en casos de desastre. Podemos compartir con una agencia pública o privada (por ejemplo, la Cruz Roja Americana) su PHI por razones de auxilio en casos de desastre. Aun cuando usted se oponga, podemos compartir la PHI acerca de usted, si es necesario en circunstancias de emergencia. En caso de emergencia, o si usted está incapacitado para tomar decisiones por sí mismo, usaremos nuestro juicio profesional para decidir si es lo más conveniente para usted compartir su PHI con una persona involucrada en su cuidado.</li>
</ul>
<div class='bold'>ALGUNOS USOS Y DIVULGACIONES DE SU PHI REQUIEREN SU AUTORIZACIÓN POR ESCRITO</div>
<p>Obtendremos su autorización en el caso que tengamos que buscar:</p>

<ul>
<li>El uso o divulgación de las notas de psicoterapia;</li>
<li>El uso o divulgación de su PHI con propósitos de mercadeo; o</li>
<li>La venta de cualquier información de su PHI.</li>
</ul>
<p>Nosotros también pediremos su autorización para cualquier otro uso o divulgación de su PHI de otra manera no descrito en este aviso de prácticas de privacidad. Si usted nos autoriza a utilizar o divulgar su PHI, puede revocar esa autorización, por escrito, en cualquier momento.</p>

<p>Si usted revoca su autorización, no podremos usar o divulgar su PHI con los propósitos incluidos en su autorización escrita. Sin embargo, no podemos cambiar las divulgaciones ya hechas de conformidad con una autorización válida.</p>

<div class='bold'>PUEDE QUE USTED TENGA DERECHOS ADICIONALES BAJO OTRAS LEYES</div>
<p>Las leyes de Carolina del Norte pueden proporcionarle más protección para tipos específicos de información que las leyes federales protegiendo la privacidad de su PHI, y donde proceda, nosotros cumpliremos con los requisitos de esas leyes de Carolina del Norte. La ley de Carolina del Norte dispone en general que obtengamos su consentimiento por escrito antes de divulgar información de la salud acerca de su salud mental, discapacidades del desarrollo o servicios para tratar el abuso de sustancias. Existen algunas excepciones a este requisito.</p>

<p><span class='bold'>Puede que cierta información sobre alcohol, abuso de drogas y tratamiento psiquiátrico tenga protecciones especiales de privacidad - </span>Si usted recibe tratamiento en uno de estos programas o instalaciones, recibirá un aviso adicional en relación con la confidencialidad de su información de salud. Nosotros no divulgaremos ninguna información de la salud que lo identifique como paciente de dicho programa o instalación, ni proveeremos información relacionada con su tratamiento en dicho programa o instalación a menos que:</p>

<ul>
<li>Usted o su representante personal dé consentimiento por escrito.</li>
<li>Una orden de la corte requiere la divulgación.</li>
<li>Personal médico necesite información para darle tratamiento en una emergencia médica.</li>
<li>Personal calificado use la información para investigación u actividades operativas.</li>
<li>Es necesario reportar un crimen o una amenaza para cometer un crimen.</li>
<li>Es necesario reportar abuso o negligencia conforme lo requiere la ley.</li>
</ul>
<div class='bold'>EL USO Y DIVULGACIÓN DE CIERTOS TIPOS DE INFORMACIÓN DE SU SALUD</div>
<p>Para ciertos tipos de información médica que puede ser requerido para proteger su privacidad en formas más estrictas de lo que hemos discutido en este aviso. Hay que respetar las siguientes normas para el uso o divulgación de ciertos tipos de información médica: </p>

<ul>
<li><span class='bold'>Información de VIH.</span> No podemos divulgar información sobre el VIH menos que sea requerido por la ley, en virtud de una autorización o de la divulgación es para usted o su represente personal; al personal de atención de la salud que prestan atención a usted; acuerdo con la citación apropiada o una orden judicial; a las personas que pueden estar en riesgo de infección, de acuerdo con las reglas del estado. </li>
<li><span class='bold'>Información sobre Alcohol y el abuso de Drogas.</span> No podemos divulgar su información médica que contiene información del abuso de alcohol y del abuso de drogas, excepto a usted, su representante personal o en virtud de una autorización o como puede ser permitido por la ley. </li>
</ul>
<p><span class='bold'>Disposiciones especiales para menores de edad bajo la ley de Carolina del Norte - </span>Bajo la ley de Carolina del Norte, los menores de edad, con o sin el consentimiento de un padre o guardián, tienen el derecho a consentir para recibir servicios para la prevención, diagnóstico y tratamiento de ciertas enfermedades incluyendo: enfermedades venéreas y otras enfermedades que deben ser denunciadas al Estado de Carolina del Norte; embarazo; abuso de medicamentos regulados o alcohol; y perturbación emocional. Si usted tiene menos de 18 años, no está casado y no se ha emancipado legalmente o se ha enlistado en las fuerzas armadas, usted puede autorizar tratamiento para el embarazo, abuso de drogas o alcohol, enfermedad venérea o perturbación emocional, sin la autorización de un adulto. Esta información permanecerá confidencial, a menos que su proveedor de salud determine que sus padres o guardián necesitan conocer esta información debido a que hay una amenaza grave a su vida o salud, o sus padres o guardián han preguntado de manera específica sobre su tratamiento. Tenga en cuenta que los menores todavía necesitan obtener autorización de los padres o la corte para un aborto o autorización de la corte para la esterilización.</p>

<p><span class='bold'>Puede que nosotros le contactemos por correo electrónico, teléfono o mensaje de texto - </span>Si usted nos proporcionó un correo electrónico o un número de teléfono fijo o teléfono celular, puede que utilicemos esa información para contactarle por correo electrónico, llamada telefónica o mensaje de texto para coordinar el cuidado de su salud, informarle de servicios que pueden beneficiarle o discutir su cuenta. Proveedores afiliados con Wilmington Mental Health también pueden utilizar esta información para ofrecerle la oportunidad de participar en un estudio de investigación psicológica o comunicarse con usted acerca de un estudio de investigación psicológica en el que usted participa.</p>


<div class='bold'>SUS DERECHOS ACERCA DE SU PHI</div>
<p><li><span class='bold'>Acceso - </span>Usted tiene el derecho de ver u obtener copias de su información médica, con excepciones limitadas. Puede solicitar que proporcionemos copias en un formato diferente a fotocopias. Vamos a utilizar el formato que solicite a menos que no sea factible hacerlo. Debe hacer una solicitud por escrito para obtener acceso a su información médica. Puede obtener una forma para solicitar acceso usando la información de contacto que aparece al final de este aviso. También puede solicitar el acceso mediante el envío de una carta a la dirección indicada al final de este aviso. Si solicita copias, se le cobrará por las copias, el tiempo del personal para localizar y copiar su información médica, y el franqueo para enviar por correo las copias. Si solicita un formato alternativo, se le cobrará una tarifa basada en el costo de proporcionar su información médica en ese formato. Si lo prefiere, prepararemos un resumen o una explicación de su información médica para una tarifa. Póngase en contacto con nosotros utilizando la información que aparece al final de este aviso para una explicación complete de nuestra estructura de tarifas. </li></p>

<p>Usted tiene el derecho a un listado de algunas divulgaciones que hemos realizado de su PHI - Usted tiene el derecho de recibir una lista escrita de algunas divulgaciones que hemos realizado de su PHI. Usted puede solicitar las divulgaciones hechas hasta por seis (6) años antes de la fecha de la solicitud. Estamos obligados a proporcionar una lista de todas las divulgaciones, exceptuando las siguientes: </p>

<ul>
<li>Para su tratamiento;</li>
<li>Para facturación y cobro del pago de su tratamiento;</li>
<li>Para operaciones relacionadas con el cuidado de su salud proveída o que usted solicitó, o autorizó;</li>
<li>Incidentes en el cual se divulgó información a personas involucradas en su cuidado y que usted permitió,</li>
<li>Para los propósitos de dirección o de notificación que la ley permite cuando el uso o divulgación concierne a ciertas funciones gubernamentales especializadas o concierne a instituciones correccionales.</li>
<li>En situaciones en la cual usted estuvo bajo la custodia de autoridades del orden público;</li>
<li>Como parte de un set de información limitada que no contiene cierta información que lo identificaría a usted.</li>
</ul>

<p>La lista incluirá la fecha de la divulgación, el nombre (y dirección si está disponible) de la persona u organización que recibe la información, una breve descripción de la información divulgada y el propósito de la divulgación. Si, bajo circunstancias que lo permiten, la PHI acerca de usted se ha divulgado para ciertos tipos de proyectos de investigación, la lista puede incluir diferentes tipos de información. Si usted solicita una lista de divulgaciones más de una vez en un período de 12 meses, le podemos cobrar una cantidad razonable de dinero. Para solicitar una lista de las divulgaciones, contacte a nuestro Oficial de Privacidad para obtener y llenar un formulario para hacer su solicitud.</p>

<p><li><span class='bold'>Restricción - </span>Usted tiene el derecho a solicitar que pongamos restricciones adicionales a nuestro uso o divulgación de su información médica. No estamos obligados a aceptar estas restricciones, pero si lo hacemos, cumpliremos nuestro acuerdo (excepto en una emergencia). Cualquier acuerdo podemos hacer a una solicitud de restricciones adicionales debe ser por escrito firmado por una persona autorizada para hacer un acuerdo de este tipo en nuestro nombre. No estaremos obligados a no ser que nuestro acuerdo es tan formalizado por escrito.</li></p>

<p><li><span class='bold'>Comunicación confidencial - </span>Usted tiene el derecho a solicitar que nos comunicamos con usted acerca su información médica por medios alternativos o a locaciones alternativas. Usted debe hacer su solicitud por escrito, y debe indicar que la información podría ponerlo en peligro si no se comunica por los medios alternativos o en las locaciones alternativas que desee. Debemos lugar a su solicitud si es razonable, especifica los medios alternativos o las locaciones alternativas, y proporciona una explicación satisfactoria como los pagos serán manejados bajo los medios o la locación alternativa que solicite. </li></p>

<p><span class='bold'>Usted tiene el derecho a pedir una enmienda de algunas partes de su PHI - </span>Si cree que su información de salud y facturación está incorrecta o incompleta, puede pedirnos que la corrijamos. Podemos denegar su solicitud si:</p>

<ul>
<li>Nosotros no creamos la información.</li>
<li>La información no forma parte de los expedientes que se usaron para tomar decisiones acerca de su cuidado.</li>
<li>Creemos que la información es correcta y completa.</li>
<li>La solicitud pertenece a una parte del expediente que usted no tiene derecho a revisar.</li>
</ul>
<p>Su petición debe constar por escrito y debe explicar los motivos para la solicitud. Si denegamos la solicitud, nosotros le avisaremos por escrito los motivos de nuestra negativa y describiremos sus derechos a entregarnos una declaración por escrito si no está de acuerdo con la negativa. Si aceptamos su solicitud de enmendar la información, nos esforzaremos de manera razonable para hacer saber a otros de la enmienda, incluyendo personas que usted señale que hayan recibido la PHI y que necesitan la enmienda. Para solicitar una enmienda usted debe presentar su solicitud por escrito en el formulario adecuado nuestro departamento de manejo de información de salud. Los formularios están disponibles en nuestro sitio web o contactando al Oficial de Privacidad de Wilmington Mental Health al 910-777-5575.</p>

<p>Usted tiene el derecho a una copia de este aviso - Usted tiene derecho a solicitar una copia impresa de este aviso, en cualquier momento, comunicándose con el Oficial de Privacidad al 910-777-5575. Le proporcionaremos una copia de este aviso a más tardar en la fecha en que reciba nuestros servicios por primera vez (exceptuando servicios de emergencia, en cuyo caso, la suministraremos lo antes posible). Pondremos una copia vigente del aviso de prácticas de privacidad en cada instalación de tratamiento y en nuestro sitio web: www.wilmingtonmentalhealth.com. </p>

<div class='bold'>QUEJAS </div>
<p>Si quiere más información sobre nuestras prácticas de privacidad o tiene cuestiones o preocupaciones, por favor, póngase en contacto con nosotros utilizando la información que aparece al final de este aviso. </p>

<p>Si usted está preocupado que hemos violado sus derechos de privacidad, o no está de acuerdo con una decisión que tomamos sobre el acceso a su información médica o en respuesta a una solicitud que hizo para modificar o restringir el uso o divulgación de su información médica o tener nos comunicamos con usted por medios alternativos o en lugares alternativos, usted puede quejarse con nosotros usando la información de contacto que aparece al final de este aviso. También puede presentar una queja por escrito al Departamento de Salud y Servicios Humanos de EEUU. Nosotros le proporcionaremos la dirección para presentar su queja ante el Departamento de Salud y Servicios Humanos de EEUU, bajo petición. </p>

<p>Si usted considera que se han violado sus derechos de privacidad o si usted desea poner una queja por las prácticas de privacidad de la división, usted puede contactarse con nuestro Oficial de Privacidad.</p>

<p>
<span class='bold'>WILMINGTON MENTAL HEALTH<br>
Attn: Oficial de Provided</span><br>
3825 Market St, Ste 4<br>
Wilmington, NC 28403<br>
<span class='bold'>Teléfono: </span>(910) 777-5575<br>
<span class='bold'>Fax: </span>(910) 777-5273<br>
<span class='bold'>Email:</span> info@wilmingtonhealth.com 
</p>
<p>
<span class='bold'>NORTH CAROLINA DIVISION OF PUBLIC HEALTH<br>
Privacy Official</span><br>
1931 Mail Service Center<br>
Raleigh, North Carolina 27699-1931<br>
<span class='bold'>Telefono:</span> (919) 855-3047<br>
<span class='bold'>Email:</span> DHHS.DPH.Privacy.Security@dhhs.nc.gov
</p>
<p>	
<p>Usted puede también enviar su queja por escrito a la Secretaría de los Estados Unidos del Departamento de Salud y Servicios Humanos en:</p>
<span class='bold'>US DEPARTMENT OF HEALTH AND HUMAN SERVICES</span><br>
<span class='bold'>Office of Civil Rights</span><br>
Atlanta Federal Center, Suite 3B70<br>
61 Forsyth Street, SW<br>
Atlanta, GA 30303-8909<br>
<span class='bold'>Teléfono:</span> (404) 562-7886<br>
<span class='bold'>Fax:</span> (404) 562-7881<br>
<span class='bold'>TDD </span>(404) 331-2867
</p>

<p>Apoyamos su derecho a la privacidad de su información médica. No tomaremos acción de ninguna clase si decide presentar una queja con nosotros o con el Departamento de Salud y Servicios Humanos de EEUU.</p>

</div>
</div>
</div>
</div>
<%- include('./partials/global/footer.ejs') -%>