<style>

.photo img {
	height: 220px;
}


.price {
	font-size: 30px;
	color: #4EAAC8;
	margin: 55px 0px;
}

#office {
	width: 100%;
	margin-top: 25px;
}
.message {
	border: 1px solid navy;
	padding: 20px;
}
#kemlage {
	padding: 55px 0px;
}

.section {
	font-size: 26px;
	font-weight: 300;
	color: #4EAAC8;
	margin-top: 55px;
}

</style>

<%- include('./partials/global/header.ejs') -%>
<div class='hide-on-mobile'>
	<%- include('./partials/global/topbar.ejs') -%>
	<%- include('./partials/global/navtop.ejs') -%>
</div>
<%- include('./partials/global/navbar.ejs') -%>


<div id='kemlage'>
	<div class='container'>
		<div class='center'><img src='./images/dust.png'>
			<div class='section-title'>Melissa Kemlage</div>
			<div class='section-text'>MEd, LCMHC, LCAS, CAMS-II, CCMC, CCSI</div>
			<div class='section-text'>Therapist at Wilmington Mental Health</div>
		</div>
		<div class='top'>
			<div class='row' style='margin-top: 55px'>
				<div class='col-lg-3'>
					<span class='photo'><img src='./images/kemlage.png'></span>
				</div>
				<div class='col-lg-9'>
					<span class='section-text'>
					<p>“What does your anxiety do? It does not empty tomorrow of its sorrow, but it empties today of its strength. It does not make you escape the evil; it makes you unfit to cope with it if it comes.” – Raymond L. Cramer</p>

					<p>Anxiety takes away your power. Without power, weakness opens the door for defeat. With defeat comes hopelessness. With hopelessness comes depression. With depression comes anxiety… break the cycle and take back your power.</p>
					</span>
					<span><img src='./images/graywave.png'></span>
				</div>
			</div>
		</div>
		<div class='section'>About Me</div>
		<div class='section-text'>
			<p>In a clinical role, I have over 9 years working with individuals, couples and families to find strength and success in their life and relationships. I am a strengths-based, holistic therapist that focuses on the mind-body-spirit connection to incorporate balance in your physical, spiritual and emotional well-being. </p>
			
			<p>I specialize in working with children and adolescents with issues such as low Self-esteem, Attachment Disorder, Trauma, Anxiety, PTSD, Depression and Substance Use. Often times an adolescent’s maladaptive behavior is misunderstood as being defiant and oppositional but there are underlying circumstances that are not always brought to an awareness. I can help work through these circumstances and help the child and family find harmony. </p>
			
			<p>Adults also find themselves with these struggles and with such can often come with feelings of shame and guilt and a desire to hide or avoid such issues. Change, growth and development is appropriate at any stage of life. Everyone is worthy of happiness and inner peace.</p>
			
			<p>I also work with couples and am trained in the Gottman Method. My approach is to help couples, whether married, in a significant relationship or preparing to marry to improve communication patterns, learn co-parenting strategies, build trust among partners and enhance the couple’s connection and intimacy level. I also offer mediation and counseling to couples preparing for divorce to ease the difficult process.</p>

		</div>
		<div class='section'>My Process</div>
		<div class='section-text'>
			<p>Together, we will create an approach tailored specifically to your individuality, needs and goals. I will complete an initial comprehensive clinical assessment that will help me to obtain a broader understanding of your life and experiences.  I will gather information about you, including your background, history of treatment, and current mental health symptoms. We will then look at underlying circumstances of your symptoms and identify treatment goals. As your treatment progresses, I will present tools, skills, techniques, and solutions to help you, which may be a challenge at times but with support and guidance you will accomplish the goals you set forth.</p>

			<p>Through various approaches, such as Cognitive Behavioral Therapy (CBT), Client-centered Therapy, Narrative/Talk Therapy, Mindfulness therapy and Reality therapy, I can help you find self- acceptance, self-awareness and self-love. </p>

			<p>I became a therapist because I believe we all deserve to find happiness and peace, but life events can keep us from reaching our fullest potential. I would love to help you create, achieve and maintain positive and healthy goals throughout your lifetime!</p>

		</div>
		<br>
		<div class='section-text'>
			<div class='row'>
				<div class='col-lg-7'>
							<div class='section'>Education and Credentials</div>

					<table class='section-text' style='width: 100%'>
						<tr>
							<td>Master’s Degree in Counselor Education and School Adjustment Counseling<br>Bridgewater State University – December 2012<br> </td>
						</tr>
						<tr>
							<td style='padding-top: 25px'>Licensed Clinical Mental Health Counselor - NC<br>License # 15209 (<a href='https://portal.ncblcmhc.org/verification/search.aspx'>See License Status</a>)</td>
						</tr>
						<tr>
							<td style='padding-top: 25px'>Licensed Mental Health counselor – MA<br>License # 11333 (<a href='https://portal.ncblcmhc.org/verification/search.aspx'>See License Status</a>)</td>
						</tr>
					</table>
					<div class='section-text' style='padding-top: 20px'>&check; Verified by <span class='bold' style='color: navy'>Psychology Today</span></div>

					<div class='section'>What I love to do during my free time…</div>
					<div class='section-text'>Being outdoors in nature, whether it’s at the beach or in the mountains. Spending time making memories with my family and playing with my three dogs. Personally, I focus on self-care and stress reduction to stay healthy and focused. </div>
				</div>
				<div class='col-lg-5'>
					<img src='./images/office.png' id='office'>
				</div>
			</div>
		</div>


		<br><br>

			<div class='row section-text'>
				<div class='col-lg-3'>
					<div class='center' style='margin-top: 45px'>If you feel we may be a good fit, schedule a free phone consultation today.</div>
					<div class='buttons' style='text-align: center; margin-top: 25px'>

					<a href="https://wmh1.clientsecure.me" data-spwidget-scope-id="d18270b1-1ca3-4e69-9d82-9ac2300a0eb4" data-spwidget-scope-uri="wmh1" data-spwidget-application-id="7c72cb9f9a9b913654bb89d6c7b4e71a77911b30192051da35384b4d0c6d505b" data-spwidget-scope-global data-spwidget-autobind><button class='new' style='width: 80%'>New Patient</button>
					</a>
					<br><br>
					<a href='https://wmh1.clientsecure.me/sign-in'><button class='existing' style='width: 80%; background: #00314A !important'>Existing Patient</button></a>
					<br><br><br>
					Phone: 910.777.5575 ext. 101
			</div>
				</div>
				<div class='col-lg-6'>
					<div class='message center' style='margin-bottom: 50px'>
			<div class='center' style='font-size: 40px'><i class="far fa-envelope"></i></div>


			<div class='section-title center' style='padding-bottom: 25px'>Message Me</div>
			<form action='/contact' method='POST'>	
				<div class="form-group">
						<input type="text" id="to" name="to" class="form-control" value="mkemlage@wmhwc.com" hidden>
					</div>
					<div class="form-group">
                    <input type="text" id="Name" name="Name" class="form-control" placeholder="Full Name*" required>
            	</div>							

				<div class="form-group">
                    <input type="text" id="Number" name="Number" class="form-control" placeholder="Contact Number*" required>
            	</div>		

            	<div class="form-group">
                    <input type="email" id="Email" name="Email" class="form-control" placeholder="Email*" required>
            	</div>

            	<div class="form-group">
                    <textarea type="message" id="Message" name="Message" class="form-control" placeholder="Message" rows='4'></textarea>
            	</div>

            	<button type="submit" id="" class="" style='height: 50px; width: 200px; margin-bottom: 0px'>Send</button>
            </form>

        </div>
				</div>
				<div class='col-lg-3'>
					<p style='padding-top: 45px'>My availability<br>
					M 9:00am – 4:00pm<br>
					Tu 10:00am – 7:00pm <br>
					W 10:00am – 7:00pm <br>
					Th 9:00am – 4:00pm 
					</p>
					<br>
					<p>My patients are<br>
					6 years old and older</p>
					<br>
				
					<br>
					<p>My specialties<br>
					Mental and behavioral health<br>
					Trauma<br>
					Substance abuse
					</p>

				</div>
			</div>
	</div>
</div>
</div>

<%- include('./partials/global/footer.ejs') -%>