<style>
    .quote {
        margin-top: 55px;
        font-size: 26px;
        text-align: center;
    }

    .photo img {
        width: 220px;
    }


    .price {
        font-size: 30px;
        color: #4EAAC8;
        margin: 55px 0px;
    }

    #office {
        width: 100%;
        margin-top: 25px;
    }

    .message {
        border: 1px solid navy;
        padding: 20px;
    }

    #blackmon {
        padding: 55px 0px;
    }

    .section {
        font-size: 26px;
        font-weight: 300;
        color: #4EAAC8;
        margin-top: 55px;
    }
</style>

<%- include('./partials/global/header.ejs') -%>
    <div class='hide-on-mobile'>
        <%- include('./partials/global/topbar.ejs') -%>
            <%- include('./partials/global/navtop.ejs') -%>
    </div>
    <%- include('./partials/global/navbar.ejs') -%>


        <div id='blackmon'>
            <div class='container'>
                <div class='disclosure section-text' style='right: 150; position: absolute'>Professional Disclosure
                    Statement <a href='#' target='_blank'> <i class="fas fa-file-download"
                            style='margin-left: 10px; color: gray'></i></a></div>

                <div class='center'><img src='./images/dust.png' alt='Dust background'>
                    <div class='section-title'>Joanne Lee</div>
                    <div class='section-text'>MS, LCAS, CCS, LCMHCS</div>
                    <div class='section-text'>Therapist at Wilmington Mental Health</div>
                </div>
                <div class='top'>
                    <div class='row' style='margin-top: 55px'>
                        <div class='col-lg-3'>
                            <span class='photo'><img src='./images/lee.jpg' alt='Lee profile'></span>
                        </div>
                        <div class='col-lg-9'>
                            <span class='section-text'>
                                <p>“Recognizing that you are not where you want to be is a starting point to change your life- Deborah Day Don’t be ashamed
                                of your story, it will inspire others” – Anonymous</p>
                                <p>I take a person-centered approach to therapy. I see every patient as a person, not a diagnosis. I feel that everyone has
                                the ability to tap into their own internal mechanisms for positive change. Once that desire for positive change and
                                personal growth is identified, patients are more likely to find solutions and insights within themselves.</p>
                            </span>
                            <span><img src='./images/graywave.png' class='wave' alt='Gray wave seperator'></span>
                        </div>
                    </div>
                </div>
                <div class='section'>About Me</div>
                <div class='section-text'>
                    
                    <p>I am a Certified Clinical Supervisor, Licensed Clinical Mental Health Counselor Supervisor, and Licensed Clinical
                    Addiction Specialist with over 33 years of experience in substance use and mental health. I have worked in both public
                    mental health/substance use and private mental health and substance abuse.
                    I utilize cognitive behavioral therapy (CBT) to address those nagging, self-critical thoughts, motivational interviewing
                    (MI) to help you regain forward motion, and mindfulness to reduce the effects of everyday stress. I offer individual,
                    group and family therapy.</p>
                    
                    <p>I work with adults and couples struggling with life transitions, relationship/family issues, anxiety, depression, stress
                    management and substance use by using evidenced based models with a conversational approach. This includes couples who
                    want to heal, adults looking for sobriety, parents who are overwhelmed with the great responsibility of raising
                    children. I have a realistic and solution-focused perspective that is paired with humor and creativity that celebrates
                    your unique nature. I know that therapy requires bravery and vulnerability, so I am intentional about creating a space
                    where you feel heard, validated and worthy.</p>
                    
                    <p>Treatment Orientation:
                        <ul>
                            <li>Cognitive Behavioral Therapy (CBT)</li>
                            <li>Motivational Interviewing</li>
                            <li>Solution-Focused Brief Therapy</li>
                        </ul>
                    </p>

                </div>
                <div class='section'>My Process</div>
                <div class='section-text'>
                    <p>I take a person-centered approach to therapy. This means I believe every person already has what they need to reach
                    their full potential and live their best life. Life circumstances and experiences often cloud our vision on what our
                    full potential may be ~ we may feel confused, lost, or broken in making the best decisions for ourselves and knowing the
                    next steps. I meet you where you are and work towards a common goal in easy to manage small steps. We work together to
                    lift the clouds that are blocking your vision of the life you deserve.
                    </p>

                </div>
                <br>
                <div class='section-text'>
                    <div class='row'>
                        <div class='col-lg-12'>
                            <div class='section'>Education and Credentials</div>

                            <table class='section-text' style='width: 100%'>
                                <tr>
                                    <td>Master’s Degree in Addiction Counseling<br>
                                        Grand Canyon University-March 2011</td>
                                    <td><br>Master’s Degree in Professional Counseling<br>
                                        Grand Canyon University-March 2011<br> </td>
                                </tr>
                                <tr>
                                    <td style='padding-top: 25px'>Certified Clinical Supervisor<br>
                                        License # 20640</td>
                                    <td style='padding-top: 25px'>Licensed Clinical Addiction Specialist<br>
                                        License # 2653</td>
                                </tr>
                                <tr>
                                    <td style='padding-top: 25px'>Licensed Clinical Mental Health Counselor<br>
                                        License # 10343(<a
                                            href='https://portal.ncblcmhc.org/verification/search.aspx'>See
                                            License Status</a>)</td>
                                    <td style='padding-top: 25px'>Licensed Clinical Mental Health Counselor Supervisor<br>
                                        License # QS127452</td>
                                </tr>
                            </table>
                            <div class='section-text' style='padding-top: 20px'>&check; Verified by <span class='bold'
                                    style='color: navy'>Psychology Today</span></div>

                            <div class='section'>What I love to do during my free time…</div>
                            <div class='section-text'>I love spending time with my family especially my husband and grandson. I love traveling with my husband in our RV. I
                            love spending as much time as I can outside.</div>
                        </div>
                    </div>
                </div>

                <div class='section'>Certifications</div>
                <div class='section-text'>
                    <div class='section-header'>Certified Forensic Evaluator</div>
                    <p>I am certified to provide evaluations for the North Carolina Judicial System. These evaluations are for defendants when
                    the issue of capacity to proceed to trial has been raised.</p>
                    
                    
                    <div class='section-header'>Clinical Supervision for LCASA, LCAS, CSI, and LCMHC</div>
                    <p>I am a registered clinical supervisor with knowledge of the performance domains. I can supervise substance abuse
                    professionals who work to treat, prevent, or reduce the conditions that place individuals at risk of developing
                    addictive disorder or disease and help prevent relapse. I can help you develop clinical skills and competencies to work
                    in the professional substance abuse field.</p>

                    <p>As your supervisor, I will provide supervision based on my knowledge of the following domains:
                        <ul>
                            <li>Counselor Development</li>
                            <li>Professional & Ethical Standards</li>
                            <li>Program Development & Quality Assurance</li>
                            <li>Performance Evaluation</li>
                            <li>Administration</li>
                            <li>Treatment Knowledge</li>
                        </ul>
                    </p>

                    <p>I will also help you see the active role ethics must play in your professional growth, review the Code of Ethical
                    Conduct, maintain a supervisory file documenting your growth and development, provide a written evaluation annually,
                    summarizing your professional development, and outlining a plan to address areas identified as needing further growth,
                    provide a copy of your assessment to the Board, if requested, and present the Board with an accurate representation of
                    your readiness for a certification or license.</p>

                    <div class='section-header'>Who can benefit from this service?</div>
                    <p>
                    <ul>
                        <li>Applicants for certification in counseling, criminal justice addictions specialization, prevention consulting, and
                        </li>
                        licensure as clinical addictions specialists.
                        <li>Licensed Clinical Addiction Specialist Associate (LCASA) seeking full licensure</li>
                        <li>Licensed Clinical Addiction Specialists (LCAS) seeking clinical supervision credential.</li>
                        <li>Certified Substance Abuse Counselors (CSACs) and Certified Criminal Justice Professionals (CCJPs) must still
                            function</li>
                        under a Practice Supervisor's supervision.
                        <li>Licensed Clinical Mental Health Specialist Associate (LCMHCA) seeking full licensure</li>
                    </ul>
                    </p>
                </div>

                <div class='quote'>
                    <div class='section-text center'>“Ability is what you’re capable of doing. Motivation determines what you do. Attitude determines how well you do it.” - Lou Holtz</div>

                </div>

                <br><br>

                <div class='row section-text'>
                    <div class='col-lg-3'>
                        <div class='center' style='margin-top: 45px'>If you feel we may be a good fit, schedule a free
                            phone consultation today.</div>
                        <div class='buttons' style='text-align: center; margin-top: 25px'>

                            <a href="https://wmh1.clientsecure.me"
                                data-spwidget-scope-id="d18270b1-1ca3-4e69-9d82-9ac2300a0eb4"
                                data-spwidget-scope-uri="wmh1"
                                data-spwidget-application-id="7c72cb9f9a9b913654bb89d6c7b4e71a77911b30192051da35384b4d0c6d505b"
                                data-spwidget-scope-global data-spwidget-autobind><button class='new'
                                    style='width: 80%'>New Patient</button>
                            </a>
                            <br><br>
                            <a href='https://wmh1.clientsecure.me/sign-in'><button class='existing'
                                    style='width: 80%; background: #00314A !important'>Existing Patient</button></a>
                            <br><br><br>
                            Phone: 910.777.5575 Ext. 110<br><br>

                        </div>
                    </div>
                    <div class='col-lg-6'>
                        <div class='message center' style='margin-bottom: 50px'>
                            <div class='center' style='font-size: 40px'><i class="far fa-envelope"></i></div>


                            <div class='section-title center' style='padding-bottom: 25px'>Message Me</div>
                            <form action='/contact' method='POST'>
                                <div class="form-group">
                                    <input type="text" id="to" name="to" class="form-control" value="jlee@wmhwc.com"
                                        hidden>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="Name" name="Name" class="form-control"
                                        placeholder="Full Name*" required>
                                </div>

                                <div class="form-group">
                                    <input type="text" id="Number" name="Number" class="form-control"
                                        placeholder="Contact Number*" required>
                                </div>

                                <div class="form-group">
                                    <input type="email" id="Email" name="Email" class="form-control"
                                        placeholder="Email*" required>
                                </div>

                                <div class="form-group">
                                    <textarea type="message" id="Message" name="Message" class="form-control"
                                        placeholder="Message" rows='4'></textarea>
                                </div>

                                <button type="submit" id="" class=""
                                    style='height: 50px; width: 200px; margin-bottom: 0px'>Send</button>
                            </form>

                        </div>
                    </div>
                    <div class='col-lg-3'>
                        <p style='padding-top: 45px'>My availability<br>
                            M – F 8:00am - 5:00pm <br>
                        </p>
                        <br>
                        <p>My patients are<br>
                            18 years old and older</p>
                        <br>

                        <br>
                        <p>My specialties<br>
                            Mental and behavioral health<br>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        </div>

        <%- include('./partials/global/footer.ejs') -%>