<%- include('./partials/global/header.ejs') -%>
<div class='hide-on-mobile'>
<%- include('./partials/global/topbar.ejs') -%>
<%- include('./partials/global/navtop.ejs') -%>
</div>
<%- include('./partials/scroll.ejs') -%>
<%- include('./partials/global/navbar.ejs') -%>
<%- include('./partials/medication/header.ejs') -%>
<%- include('./partials/medication/assessment.ejs') -%>
<%- include('./partials/medication/who.ejs') -%>
<%- include('./partials/medication/psychotropic.ejs') -%>
<%- include('./partials/medication/telepsychiatry.ejs') -%>
<%- include('./partials/medication/clinical.ejs') -%>
<%- include('./partials/medication/faq.ejs') -%>
<%- include('./partials/home/legit.ejs') -%>
<%- include('./partials/global/footer.ejs') -%>