<%- include('./partials/global/header.ejs') -%>
<div class='hide-on-mobile'>
	<%- include('./partials/global/topbar.ejs') -%>
	<%- include('./partials/global/navtop.ejs') -%>
</div>
<%- include('./partials/scroll.ejs') -%>
<%- include('./partials/global/navbar.ejs') -%>
<%- include('./partials/meetourteam/meetourtherapists.ejs') -%>
<%- include('./partials/meetourteam/trust.ejs') -%>
<%- include('./partials/meetourteam/skills.ejs') -%>
<%- include('./partials/meetourteam/meet.ejs') -%>
<%- include('./partials/meetourteam/latestevents.ejs') -%>
<%- include('./partials/meetourteam/message.ejs') -%>


<%- include('./partials/global/footer.ejs') -%>