<style>

    .photo img {
        height: 220px;
    }
    
    
    .price {
        font-size: 30px;
        color: #4EAAC8;
        margin: 55px 0px;
    }
    
    #office {
        width: 100%;
        margin-top: 25px;
    }
    .message {
        border: 1px solid navy;
        padding: 20px;
    }
    #kemlage {
        padding: 55px 0px;
    }
    
    .section {
        font-size: 26px;
        font-weight: 300;
        color: #4EAAC8;
        margin-top: 55px;
    }
    
    </style>
    
    <%- include('./partials/global/header.ejs') -%>
    <div class='hide-on-mobile'>
        <%- include('./partials/global/topbar.ejs') -%>
        <%- include('./partials/global/navtop.ejs') -%>
    </div>
    <%- include('./partials/global/navbar.ejs') -%>
    
    
    <div id='kemlage'>
        <div class='container'>
            <div class='disclosure section-text' style='float: right'>Professional Disclosure Statement <a href='./images/mooringdisc.pdf' target='_blank'> <i class="fas fa-file-download" style='margin-left: 10px; color: gray'></i></a>
            </div>
            <div class='center'><img src='./images/dust.png'>
                <div class='section-title'>Sarah Mooring</div>
                <div class='section-text'>MA, LCMHC, LCAS, LCMHCS, CSI</div>
                <div class='section-text'>Therapist at Wilmington Mental Health</div>
            </div>
            <div class='top'>
                <div class='row' style='margin-top: 55px'>
                    <div class='col-lg-3'>
                        <span class='photo'><img src='./images/mooring.png'></span>
                    </div>
                    <div class='col-lg-9'>
                        <span class='section-text'>
                        <p>We ALL have a purpose. Through exploration of our core beliefs, our thoughts and our emotional responses, we can better understand ourselves and how to interact with the world. We can equip ourselves to face the challenges life presents. </span>
                        <span><img src='./images/graywave.png'></span>
                    </div>
                </div>
            </div>
            <div class='section'>About Me</div>
            <div class='section-text'>
                <p>My professional career in counseling began in 2007 in Greenville, NC at Walter B. Jones  Alcohol and Drug Abuse Treatment Center. While in Graduate School,  I began teaching psychoeducational groups to those who struggled with co-occurring substance abuse and mental health disorders. In 2009 I became a counselor working in the detox and rehabilitation center at Walter B. Jones. I then transitioned to working in Managed Care at Trillium Health Resources, identifying seamless plans for those discharging from inpatient hospital settings back into the community. I have also worked in community-based services, assisting those who were homeless struggling with co-occurring substance abuse and mental health issues. In 2017 I entered the world of private practice and have landed where my passion lies. I have been with Wilmington Mental Health since June 2020. My favorite part of private practice in working with clients long-term and being a part of the entire healing process. 

                    <p>I practice primarily from a Cognitive Behavioral and purpose drive Existential Model of Counseling. I also incorporate techniques from Dialectical Behavioral Therapy and utilize Adjunct Biofeeback in my practice. I strive to provide a therapeutic experience that will be beneficial for clients by providing a unique experience for all to promote individual growth. Often times, we have a tendency to engage in self-defeating though processes that contribute to both intrapersonal and interpersonal issues. The idea that we all have a purpose and can develop skills to cope with the challenges of life is both powerful and possible!</p>
                    
                    <p>The types of services I offer range from brief screenings to identify the need for therapy, to treatment planning, case management, outpatient drug and alcohol treatment, anxiety and depression, and eating disorder treatment.  I often engage in interdisciplinary collaboration to improve my treatment effectiveness and refer out when additional services are needed, or counseling is no longer beneficial.</p>
                    
            </div>
            <div class='section'>My Process</div>
            <div class='section-text'>
                <p>Together, we will design a program that applies to your needs. I will help you develop a future-oriented character to enhance your healthier lifestyle probabilities. Your initial assessment will help us understand the reasons you are seeking guidance. I will gather information about you, including your socio-cultural background, history of treatment, and current mental health symptoms. This comprehensive analysis of your situation is critical in identifying diagnoses that will help us design a treatment plan that works for you. Session two and three focus on exploring the underlying circumstances of your symptoms and identify treatment goals. As your treatment progresses, I will present tools, skills, techniques, and solutions to help you develop stabilization, find the person you genuinely are, and face the fears and worries that keep troubling you.

                <p>Our therapeutic encounters are each an opportunity to learn more about your inner power. Psychotherapy will be the medium to explore what triggers your maladaptive thoughts, emotions and behaviors and what keeps you feeling as though you have lost control of yourself. And some of our conversations will examine the concepts of meaning and purpose, as well as how to make your existence on this planet significant to you and those around you.</p>
                    
            </div>
            <br>
            <div class='section-text'>
                <div class='row'>
                    <div class='col-lg-7'>
                                <div class='section'>Education and Credentials</div>
    
                        <table class='section-text' style='width: 100%'>
                            <tr>
                                <td>Master’s Degree in Substance Abuse and Clinical Counseling<br>East Carolina University- 2009<br> </td>
                            </tr>
                            <tr>
                                <td>Master’s Degree in Rehabilitation Counseling<br>East Carolina University- 2009<br> </td>
                            </tr>
                            <tr>
                                <td style='padding-top: 25px'>Licensed Clinical Mental Health Counselor<br>License # 8993 (<a href='https://portal.ncblcmhc.org/verification/search.aspx'>See License Status</a>)</td>
                            </tr>
                            <tr>
                                <td style='padding-top: 25px'>Clinical Addiction Specialist<br>License # 1666 (<a href='https://ncsappb.learningbuilder.com/public/membersearch/search'>See License Status</a>)</td>
                            </tr>
                            <tr>
                                <td style='padding-top: 25px'>Licensed Clinical Mental Health Counselor Supervisor<br>License # 1666 (<a href='https://ncsappb.learningbuilder.com/public/membersearch/search'>See License Status</a>)</td>
                            </tr>
                            <tr>
                                <td style='padding-top: 25px'>Clinical Supervisor Intern<br>License # 1666 (<a href='https://ncsappb.learningbuilder.com/public/membersearch/search'>See License Status</a>)</td>
                            </tr>
                        </table>
                        <div class='section-text' style='padding-top: 20px'>&check; Verified by <span class='bold' style='color: navy'>Psychology Today</span></div>
    
                    </div>
                    <div class='col-lg-5'>
                        <img src='./images/office3.png' id='office'>
                    </div>
                </div>
            </div>
    
    
            <br><br>
    
                <div class='row section-text'>
                    <div class='col-lg-3'>
                        <div class='center' style='margin-top: 45px'>If you feel we may be a good fit, schedule a free phone consultation today.</div>
                        <div class='buttons' style='text-align: center; margin-top: 25px'>
    
                        <a href="https://wmh1.clientsecure.me" data-spwidget-scope-id="d18270b1-1ca3-4e69-9d82-9ac2300a0eb4" data-spwidget-scope-uri="wmh1" data-spwidget-application-id="7c72cb9f9a9b913654bb89d6c7b4e71a77911b30192051da35384b4d0c6d505b" data-spwidget-scope-global data-spwidget-autobind><button class='new' style='width: 80%'>New Patient</button>
                        </a>
                        <br><br>
                        <a href='https://wmh1.clientsecure.me/sign-in'><button class='existing' style='width: 80%; background: #00314A !important'>Existing Patient</button></a>
                        <br><br><br>
                        Phone: 910.777.5575 ext. 101
                </div>
                    </div>
                    <div class='col-lg-6'>
                        <div class='message center' style='margin-bottom: 50px'>
                <div class='center' style='font-size: 40px'><i class="far fa-envelope"></i></div>
    
    
                <div class='section-title center' style='padding-bottom: 25px'>Message Me</div>
                <form action='/contact' method='POST'>	
                    <div class="form-group">
                            <input type="text" id="to" name="to" class="form-control" value="smooring@wmhwc.com" hidden>
                        </div>	
                        <div class="form-group">
                        <input type="text" id="Name" name="Name" class="form-control" placeholder="Full Name*" required>
                    </div>							
    
                    <div class="form-group">
                        <input type="text" id="Number" name="Number" class="form-control" placeholder="Contact Number*" required>
                    </div>		
    
                    <div class="form-group">
                        <input type="email" id="Email" name="Email" class="form-control" placeholder="Email*" required>
                    </div>
    
                    <div class="form-group">
                        <textarea type="message" id="Message" name="Message" class="form-control" placeholder="Message" rows='4'></textarea>
                    </div>
    
                    <button type="submit" id="" class="" style='height: 50px; width: 200px; margin-bottom: 0px'>Send</button>
                </form>
    
            </div>
                    </div>
                    <div class='col-lg-3'>
                        <p style='padding-top: 45px'>My availability<br>
                        M – F   9:00am - 7:30pm 
                        </p>
                        <br>
                        <p>My patients are<br>
                        18 years old and older</p>
                        <br>
                    
                        <br>
                        <p>My specialties<br>
                        Mental and behavioral health<br>
                        Substance abuse<br>
                        Eating Disorder Counseling<br>
                        Anxiety<br>
                        Biofeedback
                        </p>
    
                    </div>
                </div>
        </div>
    </div>
    </div>
    
    <%- include('./partials/global/footer.ejs') -%>