<style>

#background {
	padding: 50px 0px 25px 0px;
}

.bigger {
	font-size: 22px;
}

.buttons button {
	height: 50px;
	width: 200px;
	line-height: auto;
	padding: 2px;
	margin-left: 25px;
	margin-right: 25px;
}

.new {
	background: #00314A;
}

.existing {
	background: #97AFB9;
}

.byline {
	padding-left: 30px;
}

.caption {
	position: absolute;
	/*transform: rotate(-90deg);*/
	bottom: 0;
	text-align: center;
	color: white;
	font-size: 22px;
	width: 100%;
}

.photo img {
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 50px;
	height: 220px;
}

.header-section {
	background: #97AFB9;
	height: auto;
	width: 85%;
	padding: 20px 0px;
	margin-top: 50px;
	height: 220px;
	border-radius: 50px 0px 0px 0px;
	margin-bottom: 0px;
}

.header-section button {
	margin-left: 30px;
	margin-top: 20px;
}

.love-image {
	position: relative;
}

.love-image img {
	width: 100%;
	height: 193px !important;
}
#rengifo {
	position: relative;
}

#rengifo button {
	height: 50px;
	line-height: auto;
	padding: 10px 20px;
}

#rengifo .thick hr {
	margin-top: 0px;
	margin-bottom: 25px;
	height: 10px;
	color: #00314A;
	background-color: #00314A;
}

#love button {
	margin-bottom: 50px;
}

#love .thick hr {
	margin-top: 20px;
	margin-bottom: 25px;
	height: 10px;
	color: #00314A;
	background-color: #00314A;
}

.message {
	width: 50%;
	border: 1px solid lightgray;
	padding: 20px;
}
#rengifo .name {
	font-size: 35px;
	padding-left: 30px;
}

#rengifo .phone {
	font-size: 28px;
}

#profile {

}

.left {
	text-align: left;
}

#love hr {
	margin-left: 0px;
	margin-bottom: 15px;
}

.price {
	font-size: 30px;
	color: #4EAAC8;
}
#rengifo .title {
	position: absolute;
	right: 15;
	bottom: 0;
	font-size: 24px;
}

.quote {
	margin: 25px 0px !important: 
}

.teal {
	background: #4eaac8;
}

#rengifo .white .section-text {
	color: white;
}
</style>

<%- include('./partials/global/header.ejs') -%>
<div class='hide-on-mobile'>
	<%- include('./partials/global/topbar.ejs') -%>
	<%- include('./partials/global/navtop.ejs') -%>
</div>
<%- include('./partials/global/navbar.ejs') -%>

<div id='rengifo'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-7'>
				<div class='header-section'>
					<div class='name'>Joseph Rengifo</div>
					<div class='byline'>MA, LCMHC, LCAS, CAMS-II, CCMC, CCSI<br>                   
						Psychotherapist at Wilmington Mental Health                                              
					</div>
					<div class='contact'><button>Contact Us</button></div>
					<div class='photo'><img src='./images/rengifo.png'></div>
				</div>
			</div>
			<div class='col-lg-5' style='text-align: right; margin-top: 50px'>
				<div class='phone'>910.777.5575 ext. 101</div>
				<div class='statement'></div>
				<div class='title'>Clinical Supervision </div>
			</div>
		</div>
		<div class='thick'><hr></div>
		<div class='quote bigger center'>“Words have a magical power; they can bring either the greatest happiness or deepest despair… <br> Words are capable of arousing the strongest emotions and prompting all men’s actions.” – Sigmund Freud</div>
	</div>
	<div class='container' style='margin-top: 50px'>
	<div class='row'>
		<div class='col-lg-6'>
			<div class='section-text'>
				<div class='bold'>Education</div>
				Master’s Degree in Psychology<br>
				City College of New York - September 2013<br>
				<br>
				Master’s Degree in Counseling<br>
				Regent University - August, 2016<br>
				Licensed Clinical Mental Health Counselor<br>
				License # 12895 (<a href='https://portal.ncblcmhc.org/verification/search.aspx'>See License Status</a>)<br>
				<br>
				Clinical Addiction Specialist Associate<br>
				License # LCAS-23186 (<a href='https://ncsappb.learningbuilder.com/public/membersearch/search'>See License Status)</a><br>
				Clinical Supervisor Intern<br>
				License # LCAS-23186 (<a href='https://ncsappb.learningbuilder.com/public/membersearch/search'>See License Status</a>)<br>
				<br>
				<div class='bold'>Statement</div>
				I believe we can explain many of our behaviors, thoughts, and feelings in evolutionary terms. Take for instance “fear”, a basic emotion that can alert us that we are facing danger. I enjoy offering psychoeducation and use theories to guide my sessions, to treat mental health problems, and to provide my patients with relevant information about their condition.

			</div>
		</div>
		<div class='col-lg-6 section-text teal'>
			<div class='row'>
				<div class='col-lg-6' style='color: white'>My hours: </div>
				<div class='col-lg-6' style='text-align: right; margin-bottom: 10px; color: white'>M - F 9:00 am - 7:30 pm <br>Last appointment at 6:30 pm
			</div>
			</div>
			<div class='row'>
				<div class='col-lg-6' style='color: white'>My services:</div>
				<div class='col-lg-6' style='text-align: right; margin-bottom: 10px; color: white'>
				Teletherapy<br>
				Face-to-face<br>
				Individuals, Couples, Families and Groups<br>
				Clinical Evaluations
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-6' style='color: white'>Who can I assist?</div>
				<div class='col-lg-6' style='text-align: right; margin-bottom: 10px; color: white'>14 years old and older with a medically necessary condition</div>
			</div>
			<div class='row'>
				<div class='col-lg-6' style='color: white'>I am paneled with:</div>
				<div class='col-lg-6' style='text-align: right; margin-bottom: 10px; color: white'>
					Blue Cross Blue Shield<br>
					United Healthcare<br>
					Optum/UMR<br>
					Cigna<br>
					Aetna<br>
					Medcost<br>
					Magellan<br>
					Humana Military<br>
					CompPsych
					</div>
			</div></div>
		</div>
	</div>
	<div class='container'>
	<div id='background'>
		<div class='sub-title center'>WHO AM I?</div>
		<div class='section-title center'>My Background</div>
		<div class='center'><hr class='short'></div>
		<div class='section-text'>
			<p>My professional career in psychotherapy began in 2015 in New Jersey, where I provided intensive in-home treatment. After two years, I began my transition to outpatient therapy when I moved to Wilmington. Since then, I administered one-on-one counseling and mental health evaluations while under supervision and officially began working with the substance abuse population in 2017. That same year I launched Wilmington Mental Health to bridge the gap of mental health facilities offering mental health and substance abuse treatment to disadvantaged communities.</p>


			<p>I base my work on the theories of human growth and development, applying concepts and making recommendations based on the notion of social constructionism, impression management, social learning, classical conditioning, hierarchy of needs, defense mechanisms, psychosexual development, holism, self-actualization, evolutionary psychology, the big five personality traits, and positive psychology, among others. I use psychological methods and diagnostic procedures while integrating additional techniques to help my patients identify the source of their struggles. </p>

			<p>Together, we design a program that applies their needs and supports them in developing a future-oriented character to enhance their healthier lifestyle probabilities. I often engage in interdisciplinary collaboration to improve my treatment effectiveness and refer out when additional services are needed, or counseling is no longer beneficial.</p>

			<p>The types of services I offer range from brief screenings to identify the need for therapy to treatment planning, case management, outpatient drug and alcohol treatment, and long-term sex offender treatment.</p>
		</div>
		<div class='section-title center' style='padding: 50px 0px'>What to expect from me?</div>
		<div class='section-text'>
		Your initial assessment will help us understand the reasons you are seeking guidance. I will gather information about you, including your socio-cultural background, history of treatment, and current mental health symptoms. This comprehensive analysis of your situation is critical in identifying diagnoses that will help us design a treatment plan that works for you. Session two and three focus on exploring the underlying circumstances of your symptoms and identify treatment goals. As your treatment progresses, I will present tools, skills, techniques, and solutions to help you develop stabilization, find the person you genuinely are, and face the fears and worries that keep troubling you.
		</div>


		<div class='section-title center' style='padding: 50px 0px'>How is my therapy beneficial?</div>

		<div class='section-text' style='margin-bottom: 50px'>Our therapeutic encounters are each an opportunity to learn more about your inner power. Psychotherapy is the medium to explore what triggers your maladaptive thoughts, emotions, and behaviors and what keeps you feeling as though you have lost control of yourself. Part of our conversations will cover the concepts of meaning and purpose, including how to make your existence on this planet significant to you and those around you.
		</div>
		<div class='thick'><hr></div>
		</div>
	</div>
	<div id='love'>
		<div class='container'>
				<div class='sub-title'>HOBBIES & ACTIVITIES</div>
				<div class='section-title'>What I love the most <span class='bold'>Is…</span></div>
				<hr class='short'>
				<div class='section-text'><p>Traveling. Spending time with my family. I also love passing on clinical and emotional knowledge to those coming up to me for help.</p>

				<p>If you are looking for a therapist who cares, who listens, who actively provides feedback and plays an active role in the transformation you are seeking, I am your guy. I am here to service you.</p>
			</div>
		
		<div class='row' style='padding-bottom: 20px; padding-top: 25px'>
			<div class='col-lg-3' style='padding: 0px'><div class='love-image'><img src='./images/social.png'><div class='caption'>Socializing</div></div></div>
			<div class='col-lg-3' style='padding: 0px'><div class='love-image'><img src='./images/learn.png'><div class='caption'>Learning</div></div></div>
			<div class='col-lg-3' style='padding: 0px'><div class='love-image'><img src='./images/sightsee.png'><div class='caption'>Sightseeing</div></div></div>
			<div class='col-lg-3' style='padding: 0px'><div class='love-image'><img src='./images/trek.png'><div class='caption'>Trekking</div></div></div>
		</div>
		<div class='row'>
			<div class='col-lg-3' style='padding: 0px'><div class='love-image'><img src='./images/travel.png'><div class='caption'>Traveling</div></div></div>
			<div class='col-lg-3' style='padding: 0px'><div class='love-image'><img src='./images/familytime.png'><div class='caption'>Family Time</div></div></div>
			<div class='col-lg-3' style='padding: 0px'><div class='love-image'><img src='./images/photos.png'><div class='caption'>Taking Photos</div></div></div>
			<div class='col-lg-3' style='padding: 0px'><div class='love-image'><img src='./images/driving.png'><div class='caption'>Driving</div></div></div>
		</div>
		<div class='thick'><hr></div>
		</div>
		<div class='container'>
		<div class='sub-title center'>Certifications</div>
		<div class='section-title center'>Anger Management Specialist – II</div>
		<div class='center'><hr class='short' style='margin: 20px auto;'></div>
		<div class='section-text'>
			<p>I am a professional educated to work with complex anger management concerns, not just traditional psychotherapy or group counseling. Anger management is a complex combination of insights from various psychological traditions that require additional training in anger management skills, concepts, and techniques.</p>

			<p>My training in Anger Management therapy provided me with the tools needed to confidently and effectively work with individuals who experience destructive anger and help them constructively communicate anger without the outbursts that damage their most important relationships, jeopardize their careers, and put their health at risk.</p>
		<div class='center'><button>Read More</button></div>

		<div class='section-title center'>Sex Offender Treatment Provider</div>
		<div class='center'><hr class='short'></div>
		<div class='section-text'>
			<p>Anyone who qualifies for a paraphilic disorder diagnosis or who has committed an offense against a minor can benefit from this service. The DSM-5 defines paraphilia as “an intense and persistent sexual interest other than sexual interest in genital stimulation or preparatory fondling with phenotypically normal, physically mature, consenting human partners” that is present for at least 6 months and causes distress, impairment, harm, or the risk of harm. Not all sexual offenders have paraphilic disorders though.</p> 

			<p>My treatment approach is routinely informed by new research and advances in sex offender assessment, treatment, and management. Treatment is delivered through a group format, which includes psychoeducational content and opportunities for processing. The frequency and duration of treatment depends on the risk level and treatment needs that have been identified in the initial assessment. My groups include offenders who deny, minimize, or take only partial responsibility of their sexual offending. This is to engage and motivate them to accept responsibility and recognize the benefits of treatment.</p>

		<div class='center'><button>Read More</button></div>

				<div class='sub-title center'>CLINICAL SUPERVISION</div>
		<div class='section-title center'>Substance <span class='bold'>Abuse</span></div>
		<div class='center'><hr class='short'></div>
		<div class='section-text'>
			<p>I am a registered clinical supervisor with knowledge of the performance domains. I can supervise substance abuse professionals who work to treat, prevent, or reduce the conditions that place individuals at risk of developing addictive disorder or disease and help prevent relapse. I can help you develop clinical skills and competencies to work in the professional substance abuse field.
			</p>

			<p>As your supervisor, I will provide supervision based on my knowledge of the following domains:
				<ul>
			<li>Counselor Development</li>
			<li>Professional & Ethical Standards</li>
			<li>Program Development & Quality Assurance</li>
			<li>Performance Evaluation</li>
			<li>Administration</li>
			<li>Treatment Knowledge</li>
		</ul>
		</p>

			<p>I will also help you see the active role ethics must play in your professional growth, review the Code of Ethical Conduct, maintain a supervisory file documenting your growth and development, provide a written evaluation annually, summarizing your professional development, and outlining a plan to address areas identified as needing further growth, provide a copy of your assessment to the Board, if requested, and present the Board with an accurate representation of your readiness for a certification or license.
			</p>

			<p>Who can benefit from this service?
				<ul>
			<li>Applicants for certification in counseling, criminal justice addictions specialization, prevention consulting, and licensure as clinical addictions specialists.</li>
			<li>Licensed specialists (LCAS) seeking clinical supervision credential.</li>
			<li>Certified Substance Abuse Counselors (CSACs) and Certified Criminal Justice Professionals (CCJPs) must still function under a Practice Supervisor's supervision.</li>
		</ul>
		</p>

			<p>Supervisees who work to treat, prevent, or reduce the conditions that place individuals at risk of developing addictive disorder or disease and help prevent relapse must first sign a contract as required by their credentials. 
			</p>

			

			<div class='row' style='margin-top: 25px'>
				<div class='col-lg-2'></div>
				<div class='col-lg-4'>
					<div class='price center'>$75</div>
					<div class='time center'>(1-hour; up to 2 supervisees)</div>
				</div>
				<div class='col-lg-4'>
					<div class='price center'>$50</div>
					<div class='time center'>(1-hour; 2+ supervisees)</div>
				</div>
			</div>
			
			<hr style='width: 60%; margin: auto'>
			<div class='center section-text' style='margin-bottom: 50px'>** Most reputable supervisors charge based on their hourly clinical rate</div>

			<div class='thick'><hr></div>

			<div class='center section-text' style='margin-top: 50px'>Schedule your first appointment at Wilmington Mental Health today!</div>

			<div class='buttons' style='text-align: center; margin-top: 25px'>
					<a href="https://wmh1.clientsecure.me" data-spwidget-scope-id="d18270b1-1ca3-4e69-9d82-9ac2300a0eb4" data-spwidget-scope-uri="wmh1" data-spwidget-application-id="7c72cb9f9a9b913654bb89d6c7b4e71a77911b30192051da35384b4d0c6d505b" data-spwidget-scope-global data-spwidget-autobind><button class='new'>New Patient</button>
					<a href='https://wmh1.clientsecure.me/sign-in'><button class='existing'>Existing Patient</button></a>
			</div>
			<script src="https://widget-cdn.simplepractice.com/assets/integration-1.0.js"></script>
		</div>
		<div class='message center' style='margin-bottom: 50px'>
			<div class='center' style='font-size: 40px'><i class="far fa-envelope"></i></div>


			<div class='section-title center' style='padding-bottom: 25px'>Message Me</div>
				<div class="form-group">
                    <input type="text" id="Name" name="Name" class="form-control" placeholder="Full Name*" required>
            	</div>							

				<div class="form-group">
                    <input type="text" id="Number" name="Number" class="form-control" placeholder="Contact Number*" required>
            	</div>		

            	<div class="form-group">
                    <input type="email" id="Email" name="Email" class="form-control" placeholder="Email*" required>
            	</div>

            	<div class="form-group">
                    <textarea type="message" id="Message" name="Message" class="form-control" placeholder="Message" rows='4'></textarea>
            	</div>

            	<button type="submit" id="" class="" style='height: 50px; width: 200px; margin-bottom: 0px'>Send</button>
            </form>

        </div>

		</div>
	</div>
	</div>
</div>


<%- include('./partials/global/footer.ejs') -%>

