<style>

.credentials {
	width: 100%;
	height: auto;
	background: whitesmoke;
	margin-top: 25px;
	box-shadow: 1px 1px 2px gray;
	padding: 25px;
}

.credential-header {
	font-weight: bold;
}

.filter {
	height: 100%;
	width: 100%;
	position: absolute;
	background: rgba(0,0,0,.5);
}
.jumbotron {
	background-image: url('./images/telescope.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	position: relative;
	padding: 0px !important;
}

.profile-box {
	width: 100%;
	height: 175px;
	border: 1px solid lightgray;
	padding: 15px 5px;
	text-align: center;
	margin-top: 25px;
}

.profile-box i {
	font-size: 50px !important;
	color: #4eaac8
}

.profile-card {
	border: 2px solid #4eaac8;
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 150px;
	padding: 25px;
	border-radius: 15px;
}

.profile-card i {
	font-size: 14px;
}

.profile-details {
	font-size: 14px;
	margin-top: 10px;
}

.profile-head {
	padding-top: 75px !important;
}

.profile-header {
    font-size: 24px;
    margin-top: 25px;
}

.profile-image {
	text-align: left;
}

.profile-image img {
	height: 175px;
	width: 175px;
	border-radius: 1000px;
	border: 1px solid gray;
}

.profile-label {
	text-align: right;
	font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #5c656d;
}

.profile-name {
	font-size: 26px;
    line-height: 36px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
}

.profile-phone {
	right: 0;
	top: 0;
	position: absolute;
	font-size: 22px;
}

.profile-quote {
	color: white;
	font-weight: 600;
	font-size: 22px;
	text-shadow: 1px 1px 2px black;
	padding-top: 15px!important;
}

.profile-title {
	font-size: inherit;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5;
    padding-right: 10px;
}

.section-header {
	font-weight: bold;
	margin-bottom: 15px;
}

.statement {
	text-align: left;
}

.title-text {
	position: relative;
}

</style>

<%- include('./partials/global/header.ejs') -%>
<%- include('./partials/global/topbar.ejs') -%>
<%- include('./partials/global/navtop.ejs') -%>
<%- include('./partials/global/navbar.ejs') -%>

<div id='rengifo'>


<div class='container'>
	<div class='title-text'>
		<div class='profile-name'>Joseph Rengifo, MA, LCMHC, LCAS, CCSI</div>
		<div class='profile-phone'>910-777-5575 ext. 101</div>
	</div>
</div>
<div class='jumbotron'>
	<div class='filter'></div>
	<div class='container'>
		<div class='profile-head'>
		<div class='row'>
				<div class='col-lg-2'><span class='profile-image'><img src='./images/rengifo-circle.png'></span></div>
				<div class='col-lg-10'><br><span class='profile-quote'>“Words have a magical power; they can bring either the greatest happiness or deepest despair…  Words are capable of arousing the strongest emotions and prompting all men’s actions.”<br>– Sigmund Freud</span></div>
			</div>
		</div>
	</div>
</div>


<div class='container'>
	<div class='row'>
		<div class='profile-header'>Statement</div>
			<div class='section-text'>Much of human behavior can be explained in terms of psychological adaptations we experienced throughout evolution, which helped us survive in ancestral environments. Perhaps the answer to many of your questions today is found in this theory, and your understanding of it can lay the foundation of breakthrough work in your therapy session. Why does the origin of your problems matter? Mainly, because some of the issues you are facing today are linked to past experiences or traumas in your life, but also because this information will help us design a plan to identify, confront and resolve those issues. What will happen in therapy? Your initial assessment will help us understand what is going on and have a structured plan to work on. Next, we will explore the sources of your stress and struggles and what could be done to achieve stability once and for all. Finally, we will learn to confront your fears and troubles and evoke the person you are inside. What is the benefit of therapy? See this as an opportunity to learn about your brain power with someone trained in the field. Psychotherapy is not just talk therapy and, yes, we will talk about thoughts, emotions and behavior but will use it that conversation to help you regain control of your existence, making it meaningful once again. Call or text me!</div>


		<div class='profile-header'>Background and Education</div>
			<div class='section-text'><p>I have been in practice since April 2015. My first job was as an Intensive In-Home treatment provider. In September 2016, I became an outpatient therapist and provided mental health evaluations and one-on-one counseling under supervision. By the Summer of 2017, I was already working as a Substance Abuse Intensive Outpatient therapist. My practice has been active since April 2017.</p>

			<p>I provide mental health and substance abuse counseling to individuals aged 14 and older, as well as couples, groups and families. I offer comprehensive clinical assessments, treatment planning, one-on-one treatment, case management, anger management classes, drug and alcohol assessments, and sex offender treatment.</p>

			<p>My work is based on the theories of Human Development, Social Learning, Evolutionary Psychology, Social Constructionism, and Positive Psychology, among others. I will use psychological methods, diagnostic procedures and other techniques to help you identify the source of your struggles and design a plan to address your condition(s). I will help you develop a future-oriented character to increase your chances of achieving a healthier lifestyle. I will collaborate with other professionals to improve the effectiveness of my treatment and refer you to other specialists when additional services are needed, or counseling is no longer beneficial.</p>
		</div>


				<div class='profile-header'>Certified Clinical Supervisor Intern (CCS-I)</div>
				<div class='section-text'><p>I am registered clinical supervisor with knowledge in the performance domains. I can supervise substance abuse professionals who work to treat, prevent, or reduce the conditions that place individuals at risk of developing addictive disorder or disease and help prevent relapse. I can help you develop clinical skills and competencies to work in the professional substance abuse field.</p>

				<div class='section-header'>Who can benefit from this service:</div>

				<ol>
				<li>Applicants for certification in counseling, criminal justice addictions specialization, prevention consulting, and for licensure as clinical addictions specialists.</li>
				<li>Licensed specialists (LCAS) seeking the clinical supervision credential.</li>
				<li>Certified Substance Abuse Counselors (CSACs) and Certified Criminal Justice Professionals (CCJPs) who must still function under the supervision of a Practice Supervisor.</li>
				</ol>
				 

				<div class='section-header'>Agreement</div>

				<p>Supervisees who work to treat, prevent, or reduce the conditions that place individuals at risk of developing addictive disorder or disease and help prevent relapse must first sign a contract as required by their credential. As your supervisor, I  will provide supervision based my knowledge of the following domains:

				<ol type='a'>
					<li> Counselor Development</li>
					<li> Professional & Ethical Standards</li>
					<li> Program Development & Quality Assurance</li>
					<li> Performance Evaluation</li>
					<li> Administration</li>
					<li> Treatment Knowledge</li>
				</ol>
				</p>

				<div class='section-header'>Ethical Responsibilities</div>

				<ol>
					<li>To review the Board’s Code of Ethical Conduct to help you see the active role ethics must play in professional growth</li>
					<li>To report unethical activity to the Board</li>
					<li>To maintain a supervisory file documenting the supervisee’s growth and development.</li>
					<li>To provide a written evaluation annually, summarizing your professional development and outlining a plan <li>to address areas identified as needing further growth.</li>
					<li>To provide a copy of your evaluation to the Board, if requested.</li>
					<li>To present the Board with an accurate representation of your readiness for a certification or license.</li>
				</ol>
			</div>
		</p>
	</div>
</div>

		
				
			</div>
			<div class='col-lg-4'>
				<div class='credentials'>
					<div class='credential-header'>Master’s Degree in Psychology</div>
					<div class='credential-subheader'>City College of New York, September 2013</div>
					<br>
					<div class='credential-header'>Master’s Degree in Counseling</div>
					<div class='credential-subheader'>Regent University, August, 2016</div>
					<br>
					<div class='credential-header'>Licensed Clinical Mental Health Counselor</div>
					<div class='credential-subheader'>License # 12895</div>
					<br>
					<div class='credential-header'>Clinical Addiction Specialist Associate</div>
					<div class='credential-subheader'>License # LCAS-23186</div>
					<br>
					<div class='credential-header'>Clinical Supervisor Intern</div>
					<div class='credential-subheader'>License # LCAS-23186</div>
				</div>
			</div>
			</div>
				

		<div class='row'>
			<div class='col-lg-2'>
				<div class='profile-box'>
				<div class='profile-icon'><i class="far fa-calendar-alt"></i></div>
				<div class='profile-details'>M - F 9:00 am - 8:30 pm
					<br>Last appt 7:30 pm</div>
			</div>
			</div>
			<div class='col-lg-2'>
				<div class='profile-box'>
				<div class='profile-icon'><i class="fas fa-desktop"></i></div>
				<div class='profile-details'>Secured Online Sessions
					via Teletherapy Software
				</div>
			</div>
			</div>
			<div class='col-lg-2'>
				<div class='profile-box'>
				<div class='profile-icon'><i class="fas fa-credit-card"></i></div>
				<div class='profile-details'>$200 Intake Evaluation
					<br>$100 60-min Session
					<br>$150 Couples Therapy
				</div>
			</div>
			</div>
			<div class='col-lg-2'>
				<div class='profile-box'>
				<div class='profile-icon'><i class="fas fa-users"></i></div>
				<div class='profile-details'>Adolescents 14-17
					<br>Adults 18 - 64
					<br>Seniors 65+
				</div>
			</div>
			</div>
			<div class='col-lg-2'>
				<div class='profile-box'>
				<div class='profile-icon'><i class="fas fa-umbrella"></i></div>
				<div class='profile-details'>Blue Cross Blue Shield, United Healthcare, Cigna, Aetna, Medcost
				</div>
			</div>
			</div>
			<div class='col-lg-2'>
				<div class='profile-box'>
				<div class='profile-icon'><i class="fas fa-comments"></i></div>
				<div class='profile-details'>Face to Face Therapy for Individuals, Couples, Families, and Groups</div>
			</div>
			</div>
		</div>
			</div>
		</div>
	</div>
</div>

</div>

<%- include('./partials/global/footer.ejs') -%>