<style>
    .quote {
        margin-top: 55px;
        font-size: 26px;
        text-align: center;
    }

    .photo img {
        height: 220px;
    }


    .price {
        font-size: 30px;
        color: #4EAAC8;
        margin: 55px 0px;
    }

    #office {
        width: 100%;
        margin-top: 25px;
    }

    .message {
        border: 1px solid navy;
        padding: 20px;
    }

    #stanfield {
        padding: 55px 0px;
    }

    .section {
        font-size: 26px;
        font-weight: 300;
        color: #4EAAC8;
        margin-top: 55px;
    }
</style>

<%- include('./partials/global/header.ejs') -%>
    <div class='hide-on-mobile'>
        <%- include('./partials/global/topbar.ejs') -%>
            <%- include('./partials/global/navtop.ejs') -%>
    </div>
    <%- include('./partials/global/navbar.ejs') -%>


        <div id='stanfield'>
            <div class='container'>
                <div class='center'><img src='./images/dust.png' alt='Dust background'>
                    <div class='section-title'>Agatha Roa</div>
                    <div class='section-text'>Content Editor at Wilmington Mental Health</div>
                </div>
                <div class='top'>
                    <div class='row' style='margin-top: 55px'>
                        <div class='col-lg-3'>
                            <span class='photo'><img src='./images/roa.jpg'
                                    style='border: 1px solid lightgray; width: 100%; height: auto;'
                                    alt='Stanfield profile'></span>
                        </div>
                        <div class='col-lg-9'>
                            <span class='section-text'>
                                <p>I'm a believer in the power of knowledge and the ferocity of beauty, so from my point of view, your life is already
                                artful - waiting, just waiting for you to make it art."
                                -Toni Morrison.</p>
                            </span>
                            <span><img src='./images/graywave.png' class='wave' alt='Gray wave seperator'></span>
                        </div>
                    </div>
                </div>
                <div class='section'>About Me</div>
                <div class='section-text'>
                    <p>I’m originally from New York City and the first in my immigrant family to go to college. I’m of Pacific Islander and
                    Filipino descent. I worked in advertising and marketing for various industries (financial services, real estate) before
                    suffering burnout. I moved to North Carolina in 2016 and never looked back! Before joining Wilmington Mental Health, I
                    graduated from University of North Carolina Wilmington with a MFA in Creative Writing. I was on the editorial staff of
                    Ecotone literary magazine. My first published piece was for an anthology on recovery-based themes and families. I also
                    like to write about self-care and the wellness space. If I wasn't a writer, I'd probably be a geologist in another life,
                    because I love minerals and crystals! When I am not working as a content editor for WMH you can find me outdoors, hiking
                    with my rescue dogs in Carolina Beach State Park or gardening in my backyard.</p>

                </div>
                
                <div class='section-text'>
                    <div class='row'>
                        <div class='col-lg-12'>
                            <div class='section'>Education and Credentials</div>

                            <table class='section-text' style='width: 100%'>
                                <tr>
                                    <td>Master’s Degree of Fine Arts, Creative Writing
                                        <br>UNC Wilmington - May 2021<br>
                                    </td>
                                    <td>Bachelor’s Degree in Communications and Culture
                                        <br>CIty University of New York - May 2014<br>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class='section-text'>
                    <div class='row'>
                        <div class='col-lg-12'>
                            <div class='section'>What I love to do during my free time…</div>
                            <div class='section-text'>Cooking, knitting, enjoying nature and traveling with Vic, my partner.
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>

                <div class='row section-text'>
                    <div class='col-lg-1'></div>
                    <div class='col-lg-2'>
                        <p style='margin-top: 45px'>My specialties<br>
                            Writing<br>
                            Editing<br>
                            Creativity<br>
                        </p>
                        <!-- <div class='center' style='margin-top: 45px'>If you feel we may be a good fit, schedule a free
                            phone consultation today.</div>
                        <div class='buttons' style='text-align: center; margin-top: 25px'>

                            <a href="https://wmh1.clientsecure.me"
                                data-spwidget-scope-id="d18270b1-1ca3-4e69-9d82-9ac2300a0eb4"
                                data-spwidget-scope-uri="wmh1"
                                data-spwidget-application-id="7c72cb9f9a9b913654bb89d6c7b4e71a77911b30192051da35384b4d0c6d505b"
                                data-spwidget-scope-global data-spwidget-autobind><button class='new'
                                    style='width: 80%'>New Patient</button>
                            </a>
                            <br><br>
                            <a href='https://wmh1.clientsecure.me/sign-in'><button class='existing'
                                    style='width: 80%; background: #00314A !important'>Existing Patient</button></a>
                            <br><br><br>
                            Phone: 910.777.5575
                        </div> -->
                    </div>
                    <div class='col-lg-6'>
                        <div class='message center' style='margin-bottom: 50px'>
                            <div class='center' style='font-size: 40px'><i class="far fa-envelope"></i></div>


                            <div class='section-title center' style='padding-bottom: 25px'>Message Me</div>
                            <form action='/contact' method='POST'>
                                <div class="form-group">
                                    <input type="text" id="to" name="to" class="form-control"
                                        value="aroa@wmhwc.com" hidden>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="Name" name="Name" class="form-control"
                                        placeholder="Full Name*" required>
                                </div>

                                <div class="form-group">
                                    <input type="text" id="Number" name="Number" class="form-control"
                                        placeholder="Contact Number*" required>
                                </div>

                                <div class="form-group">
                                    <input type="email" id="Email" name="Email" class="form-control"
                                        placeholder="Email*" required>
                                </div>

                                <div class="form-group">
                                    <textarea type="message" id="Message" name="Message" class="form-control"
                                        placeholder="Message" rows='4'></textarea>
                                </div>

                                <button type="submit" id="" class=""
                                    style='height: 50px; width: 200px; margin-bottom: 0px'>Send</button>
                            </form>

                        </div>
                    </div>
                    <div class='col-lg-3'>
                        <p style='padding-top: 45px'>My availability<br>
                            M – F 9:00am - 6:00pm <br>
                        </p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <%- include('./partials/global/footer.ejs') -%>