<style>
    .quote {
        margin-top: 55px;
        font-size: 26px;
        text-align: center;
    }

    .photo img {
        height: 220px;
    }


    .price {
        font-size: 30px;
        color: #4EAAC8;
        margin: 55px 0px;
    }

    #office {
        width: 100%;
        margin-top: 25px;
    }

    .message {
        border: 1px solid navy;
        padding: 20px;
    }

    #seigel {
        padding: 55px 0px;
    }

    .section {
        font-size: 26px;
        font-weight: 300;
        color: #4EAAC8;
        margin-top: 55px;
    }
</style>

<%- include('./partials/global/header.ejs') -%>
    <div class='hide-on-mobile'>
        <%- include('./partials/global/topbar.ejs') -%>
            <%- include('./partials/global/navtop.ejs') -%>
    </div>
    <%- include('./partials/global/navbar.ejs') -%>


        <div id='seigel'>
            <div class='container'>
                <!-- <div class='disclosure section-text' style='right: 150; position: absolute'>Professional Disclosure
                    Statement <a href='./images/havahpds.pdf' target='_blank'> <i class="fas fa-file-download"
                            style='margin-left: 10px; color: gray'></i></a></div> -->

                <div class='center'><img src='./images/dust.png' alt='Dust background'>
                    <div class='section-title'>Robert Seigel</div>
                    <div class='section-text'>RN, NP, PMHNP</div>
                    <div class='section-text'>Nurse Practitioner at Wilmington Mental Health</div>
                </div>
                <div class='top'>
                    <div class='row' style='margin-top: 55px'>
                        <div class='col-lg-3'>
                            <span class='photo'><img src='./images/seigel.png' alt='Siegel profile'></span>
                        </div>
                        <div class='col-lg-9'>
                            <span class='section-text'>
                                <p>Psychiatric Mental Health Nurse Practitioners (PMHNP) go through rigorous training to provide advanced medical and
                                diagnostic care to patients with all different kinds of illnesses. My master’s degree in nursing provided me with
                                comprehensive medical knowledge to help my patients suffering from chronic and acute conditions. In addition to
                                psychiatric and substance abuse services, I offer tele-psychiatry and crisis intervention. Appointments may be made for
                                routine visits or new problems you may be experiencing.</p>
                            </span>
                            <span><img src='./images/graywave.png' class='wave' alt='Gray wave seperator'></span>
                        </div>
                    </div>
                </div>
                <div class='section'>About Me</div>
                <div class='section-text'>
                    <p>I have been a Nurse Practitioner for over 24 years and a Psychiatric Mental Health Nurse Practitioner for the past 15
                    years. I provide of psychiatric medication intervention for a variety of Mental Health Conditions, including depression,
                    anxiety, psychosis, mood disorders, substance abuse disorders (SUD), ADHD, PTSD and many others. I served in the United
                    States Navy for 29 years caring for active-duty military personnel and their dependents.</p>

                </div>
                <div class='section-text'>
                    <div class='row'>
                        <div class='col-lg-12'>
                            <div class='section'>Education and Credentials</div>
                            <p>I graduated with honors in 1997. Having more than 24 years of diverse experiences, especially in Nurse Practitioner, I
                            cooperate with many other doctors and specialists in many medical groups. For more information and advice or to book an
                            appointment call 910-777-5575.</p>
                            <table class='section-text' style='width: 100%'>
                                <tr>
                                    <td>Master’s Degree of Science in Nursing
                                        <br>University of Virginia<br>
                                    </td>
                                    <td>Licensed Psychiatry Mental Health Nurse Practitioner
                                        <br>License # 207454 (NC)<br>
                                    </td>
                                </tr>
                            </table>
                            <br>
                            <p>Years in practice: 24+<br>
                            Committed to heart health through the Million Hearts® initiative.</p>
                            <br>
                            <a href='https://portal.ncbon.com/licenseverification/search.aspx' target='_blank'>License Lookup</a>

                        </div>
                    </div>
                </div>
                <div class='section-text'>
                    <div class='row'>
                        <div class='col-lg-12'>
                            <div class='section'>Insurances</div>
                            <div class='section-text'>BCBS • United Healthcare • Cigna • Aetna • Magellan • Tricare East • Medcost • Medicare
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>

                <div class='row section-text'>
                    <div class='col-lg-3'>
                        <div class='center' style='margin-top: 45px'>If you feel we may be a good fit, schedule a free
                            phone consultation today.</div>
                        <div class='buttons' style='text-align: center; margin-top: 25px'>

                            <a href="https://wmh1.clientsecure.me"
                                data-spwidget-scope-id="d18270b1-1ca3-4e69-9d82-9ac2300a0eb4"
                                data-spwidget-scope-uri="wmh1"
                                data-spwidget-application-id="7c72cb9f9a9b913654bb89d6c7b4e71a77911b30192051da35384b4d0c6d505b"
                                data-spwidget-scope-global data-spwidget-autobind><button class='new'
                                    style='width: 80%'>New Patient</button>
                            </a>
                            <br><br>
                            <a href='https://wmh1.clientsecure.me/sign-in'><button class='existing'
                                    style='width: 80%; background: #00314A !important'>Existing Patient</button></a>
                            <br><br><br>
                            Accepting New Patients!<br><br>
                            Phone: 910.777.5575 ext. 113
                        </div>
                    </div>
                    <div class='col-lg-6'>
                        <div class='message center' style='margin-bottom: 50px'>
                            <div class='center' style='font-size: 40px'><i class="far fa-envelope"></i></div>


                            <div class='section-title center' style='padding-bottom: 25px'>Message Me</div>
                            <form action='/contact' method='POST'>
                                <div class="form-group">
                                    <input type="text" id="to" name="to" class="form-control"
                                        value="jlee@wmhwc.com" hidden>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="Name" name="Name" class="form-control"
                                        placeholder="Full Name*" required>
                                </div>

                                <div class="form-group">
                                    <input type="text" id="Number" name="Number" class="form-control"
                                        placeholder="Contact Number*" required>
                                </div>

                                <div class="form-group">
                                    <input type="email" id="Email" name="Email" class="form-control"
                                        placeholder="Email*" required>
                                </div>

                                <div class="form-group">
                                    <textarea type="message" id="Message" name="Message" class="form-control"
                                        placeholder="Message" rows='4'></textarea>
                                </div>

                                <button type="submit" id="" class=""
                                    style='height: 50px; width: 200px; margin-bottom: 0px'>Send</button>
                            </form>

                        </div>
                    </div>
                    <div class='col-lg-3'>
                        <p style='padding-top: 45px'>My availability<br>
                            M – W 9:00am - 7:30pm <br>
                        </p>
                        <br>
                        <p>My patients are<br>
                            13 years old and older</p>
                        <br>

                        <br>
                        <p>My specialties<br>
                            Psychiatry<br>
                            Mental Health<br>
                            Substance Abuse<br>
                            Medication Management

                        </p>

                    </div>
                </div>
            </div>
        </div>
        </div>

        <%- include('./partials/global/footer.ejs') -%>