<style>
    .quote {
        margin-top: 55px;
        font-size: 26px;
        text-align: center;
    }

    .photo img {
        height: 220px;
    }


    .price {
        font-size: 30px;
        color: #4EAAC8;
        margin: 55px 0px;
    }

    #office {
        width: 100%;
        margin-top: 25px;
    }

    .message {
        border: 1px solid navy;
        padding: 20px;
    }

    #stanfield {
        padding: 55px 0px;
    }

    .section {
        font-size: 26px;
        font-weight: 300;
        color: #4EAAC8;
        margin-top: 55px;
    }
</style>

<%- include('./partials/global/header.ejs') -%>
    <div class='hide-on-mobile'>
        <%- include('./partials/global/topbar.ejs') -%>
            <%- include('./partials/global/navtop.ejs') -%>
    </div>
    <%- include('./partials/global/navbar.ejs') -%>


        <div id='stanfield'>
            <div class='container'>
                <!-- <div class='disclosure section-text' style='right: 150; position: absolute'>Professional Disclosure
                    Statement <a href='./images/havahpds.pdf' target='_blank'> <i class="fas fa-file-download"
                            style='margin-left: 10px; color: gray'></i></a></div> -->

                <div class='center'><img src='./images/dust.png' alt='Dust background'>
                    <div class='section-title'>Juliana R. Stanfield</div>
                    <div class='section-text'>MSW, LCSW-A</div>
                    <div class='section-text'>Therapist and Licensed Clinical Social Worker Associate at Wilmington Mental Health</div>
                </div>
                <div class='top'>
                    <div class='row' style='margin-top: 55px'>
                        <div class='col-lg-3'>
                            <span class='photo'><img src='./images/stanfield.jpg'
                                    style='border: 1px solid lightgray; width: 100%; height: auto;' alt='Stanfield profile'></span>
                        </div>
                        <div class='col-lg-9'>
                            <span class='section-text'>
                                <p>"You deserve the love you so freely give to others.” – Alexandra Elle</p>
                                <p>My practice is centered around you as a “whole person,” not just as a collection of diagnoses. As a therapist I seek to
                                offer a full range of therapeutic services using theory and evidence-based practice, while also simply sitting in your
                                challenging spaces with you, providing a comforting, nurturing, judgement-free environment, and pushing you to break
                                through and progress in your mental health journey. I believe that taking care of yourself is the single most important
                                endeavour you can undertake in your life, and I hope to be able to assist you in any way I can as you begin looking
                                inward.</p>
                            </span>
                            <span><img src='./images/graywave.png' class='wave' alt='Gray wave seperator'></span>
                        </div>
                    </div>
                </div>
                <div class='section'>About Me</div>
                <div class='section-text'>
                    <p>My professional career in social work and counseling began in 2014. While an undergraduate student at the University of
                    Florida, I worked at various nonprofit organizations with at-risk and underprivileged children and families. There, I
                    obtained a Bachelor of Arts in Religious Studies with a focus in Family, Youth, and Community Sciences and became
                    well-versed in culture, religion, and issues impacting our globe. I began looking inward myself and asking important
                    fundamental questions. How do we explain human suffering and injustices? How do we as humans support one another and
                    maintain the connections that are needed to sustain us?</p>
                    
                    <p>Once I finished my undergraduate studies in 2016, I travelled to Nakuru, Kenya and worked at Mama Helen’s Rehabilitation
                    Center for orphaned children. It was there that I knew I wanted to pursue a career that would allow me to continue
                    working in a capacity that nurtures the human spirit and seeks to change the issues facing our world, and thus I began
                    studying social work at North Carolina State University in 2017. During my graduate studies, I worked as a Social Work
                    Intern for the New Hanover County Department of Social Services. I spent one year in the Child Protective Services
                    Department, followed by one year in the Child Welfare Services (Foster Care) Department.</p>
                    
                    <p>When I graduated with a Master of Social Work in 2019, I began working there full time as a Child Welfare Services
                    Social Worker where I remained until October 2021. I learned so much in these years about mental health, substance use,
                    childhood trauma, parenting, homelessness, domestic violence, and other pressing issues affecting our community. I
                    became a Licensed Clinical Social Work Associate in May 2021 in order to continue helping my clients pursue lasting and
                    impactful change in their lives on a more personal and therapeutic level.</p>

                </div>
                <div class='section'>My Process</div>
                <div class='section-text'>
                    <p>Much like life, treatment is everchanging. Each session we will work together to develop a treatment regimen that best
                    suits your needs both in the moment and as you move forward. We will complete an initial assessment to help me better
                    understand your basic needs. I’ll gather information from you about your background, history, family dynamics,
                    lifestyle, culture, socioeconomic status, and current symptoms. Then, we will have a few rapport-building sessions to
                    get to know one another as I continue assessing your needs. As we progress, we will begin developing goals for your
                    treatment plan centered around decreasing your symptomology and bringing balance back to your life. I will also often
                    present other resources in our community that I believe can eliminate some of the burdens you face. Each session I will
                    use the tools, skills, and knowledge I possess to support you, push you, and guide you through what you’re facing.</p>
                
                    <p>I believe as a therapist it is my job to find a balance between comforting you and validating your feelings, while also
                    challenging you and often telling you things you may not be thrilled to hear. It is my goal to make sure you feel safe
                    and secure in treatment in addition to presenting you with alternate ways of thinking, gently coaching you through
                    correcting any harmful behaviors, and changing your perspectives on how you perceive your reality. My process is to get
                    to know you on an individual level, gain your trust, provide a safe and validating space for you to release your
                    emotions, and then walk alongside you as you learn to advance in your mental health.</p>
                
                    <p>My approach will utilize a combination of talk therapy, cognitive behavioral therapy, solution-focused therapy, and
                    humanistic therapy as we identify triggers, learn coping skills, and change thought patterns. We must first learn your
                    “Why?”, meaning the primary reason you are seeking treatment, what is important to you, how we can build on your current
                    strengths, and identifying where you want to be at the end of your mental health journey. From there we will discover
                    together what works best for you and how I may be able to tailor my practice to better meet your individual needs. Once
                    we meet your goals, we will discuss whether new goals can or should be created or if we are able to begin discharge and
                    transitional planning in order to set you up to remain successful on a long-term basis.</p>
                
                </div>
                <div class='section-text'>
                    <div class='row'>
                        <div class='col-lg-12'>
                            <div class='section'>Education and Credentials</div>

                            <table class='section-text' style='width: 100%'>
                                <tr>
                                    <td>Bachelor of Arts in Religious Studies
                                        <br>University of Florida – May 2016<br> 
                                    </td>
                                    <td>Master of Social Work
                                        <br>North Carolina State University – May 2019<br> 
                                    </td>
                                </tr>
                                <tr>
                                    <td><br>Licensed Clinical Social Work Associate
                                        <br>License # P016114 (<a href='https://ncswb.igovsolution.net/online/Lookups/Individual_Lookup.aspx' target="_blank">See License Status)</a><br>
                                    </td>
                                </tr>
                            </table>
                            <div class='section-text' style='padding-top: 20px'>&check; Verified by 
                                <a href='https://www.psychologytoday.com/us/therapists/nc/wilmington/905989?sid=61681faadd3ab&ref=10' target='_blank'>
                                <span class='bold' style='color: navy;'>Psychology Today</span></a></div>

                        </div>
                    </div>
                </div>
                <div class='section-text'>
                    <div class='row'>
                        <div class='col-lg-12'>
                            <div class='section'>What I love to do during my free time…</div>
                            <div class='section-text'>I am a natural born explorer, coffee drinker, and amateur photographer. I love to spend time outside, especially
                            visiting the NC mountains and going hiking with my partner and 2-year-old golden retriever. I travel to new places as
                            often as I can to visit local eateries, wineries, and coffee shops. I see it an honor to experience and integrate myself
                            into other cultures and increase my knowledge of human nature, which in turn can better my practice as a therapist. I’m
                            somewhat of a creative… often attempting to use my DSLR camera to capture important moments and memories, as well as
                            dabbling in digital illustration, calligraphy, and interior design. I try not to take life too seriously, so often you
                            will find me laughing at myself or trying to keep the mood light.
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>

                <div class='row section-text'>
                    <div class='col-lg-3'>
                        <div class='center' style='margin-top: 45px'>If you feel we may be a good fit, schedule a free
                            phone consultation today.</div>
                        <div class='buttons' style='text-align: center; margin-top: 25px'>

                            <a href="https://wmh1.clientsecure.me"
                                data-spwidget-scope-id="d18270b1-1ca3-4e69-9d82-9ac2300a0eb4"
                                data-spwidget-scope-uri="wmh1"
                                data-spwidget-application-id="7c72cb9f9a9b913654bb89d6c7b4e71a77911b30192051da35384b4d0c6d505b"
                                data-spwidget-scope-global data-spwidget-autobind><button class='new'
                                    style='width: 80%'>New Patient</button>
                            </a>
                            <br><br>
                            <a href='https://wmh1.clientsecure.me/sign-in'><button class='existing'
                                    style='width: 80%; background: #00314A !important'>Existing Patient</button></a>
                            <br><br><br>
                            Phone: 910.777.5575
                        </div>
                    </div>
                    <div class='col-lg-6'>
                        <div class='message center' style='margin-bottom: 50px'>
                            <div class='center' style='font-size: 40px'><i class="far fa-envelope"></i></div>


                            <div class='section-title center' style='padding-bottom: 25px'>Message Me</div>
                            <form action='/contact' method='POST'>
                                <div class="form-group">
                                    <input type="text" id="to" name="to" class="form-control" value="jstanfield@wmhwc.com"
                                        hidden>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="Name" name="Name" class="form-control"
                                        placeholder="Full Name*" required>
                                </div>

                                <div class="form-group">
                                    <input type="text" id="Number" name="Number" class="form-control"
                                        placeholder="Contact Number*" required>
                                </div>

                                <div class="form-group">
                                    <input type="email" id="Email" name="Email" class="form-control"
                                        placeholder="Email*" required>
                                </div>

                                <div class="form-group">
                                    <textarea type="message" id="Message" name="Message" class="form-control"
                                        placeholder="Message" rows='4'></textarea>
                                </div>

                                <button type="submit" id="" class=""
                                    style='height: 50px; width: 200px; margin-bottom: 0px'>Send</button>
                            </form>

                        </div>
                    </div>
                    <div class='col-lg-3'>
                        <p style='padding-top: 45px'>My availability<br>
                            M – F 9:00am - 7:30pm <br>
                        </p>
                        <br>
                        <p>My patients are<br>
                            12 years old and older</p>
                        <br>

                        <br>
                        <p>My specialties<br>
                            Mental and behavioral health<br>
                            Trauma<br>
                            Childhood Trauma<br>
                            Socioeconomic challenges
                        </p>

                    </div>
            </div>
        </div>
        </div>
        </div>

        <%- include('./partials/global/footer.ejs') -%>