<%- include('./partials/global/header.ejs') -%>
<div class='hide-on-mobile'>
	<%- include('./partials/global/topbar.ejs') -%>
	<%- include('./partials/global/navtop.ejs') -%>
</div>
<%- include('./partials/global/navbar.ejs') -%>
<%- include('./partials/whoweare/about.ejs') -%>
<%- include('./partials/whoweare/alternative.ejs') -%>
<%- include('./partials/whoweare/vision.ejs') -%>
<%- include('./partials/whoweare/values.ejs') -%>
<%- include('./partials/global/footer.ejs') -%>