<style>

.treatment-box {
	text-align: center;
}

.navigation {
	text-decoration: none;
	margin: auto;
	text-align: center;
	justify-content: center;
}
.navigation li {
	border: 1px solid lightgray;
	width: 350px !important;
	margin: 5px;
	text-align: center;
	padding: 5px;
	font-size: 14px;
	text-decoration: none;
}

.navigation li:hover {
	border: 1px solid #4eaac8;
	width: 350px !important;
	margin: 5px;
	text-align: center;
	padding: 5px;
	font-size: 15px;
	transition: font-size 100ms ease-in-out;
	color: lightgray;
	text-decoration: none !important;
	font-weight: 400;
}


.navigation a {
	color: #4eaac8;
}
.navigation a:hover {
	text-decoration: none;
	color: black;
}

.navigation ul {
	margin: auto;
}

#individual {
	color: #5c656d;
	font-size: 18px;
	line-height: 167%;
	font-weight: 300;
}

#individual .tab-content {
	margin: 50px 1em;
}

.technique-name {
	font-size: 20px;
	font-weight: 400;
	color: #4eaac8;
}
</style>


<div class='container'>
	<div class='row' style='margin: 50px auto'>
		<div class='navigation'>
			<ul class="nav nav-pills flex-row center">
			<li><a data-toggle="pill" class='active' href="#psychoeducation">Alcohol and Drug Psychoeducation</a></li>
			<li><a data-toggle="pill" href="#outpatient">Outpatient Care</a></li>
			<li><a data-toggle="pill" href="#supervision">Clinical Supervision</a></li>
			</ul>
		</div>
	</div>
</div>

	<div class="tab-content">

		<div class="tab-pane active" id="psychoeducation">
			<div class='container'><div class='technique-name'>Alcohol and Drug Psychoeducation</div><hr></div>
			<div class='technique-content'>
			<%- include('./sa-education.ejs') -%>
			<%- include('./sa-how.ejs') -%>
			<%- include('./sa-process.ejs') -%>
			</div>
		</div>


		<div class="tab-pane fade" id="outpatient">
			<div class='container'><div class='technique-name'>Outpatient Care</div><hr></div>
			<div class='technique-content'>
			<%- include('./sa-treatment.ejs') -%>
			<%- include('./sa-boxes.ejs') -%>
			<%- include('./sa-testing.ejs') -%>
			<%- include('./sa-relapse.ejs') -%>
			<%- include('./sa-plan.ejs') -%>
			</div>
		</div>
		

		<div class="tab-pane fade" id="supervision">
			<div class='container'><div class='technique-name'>Clinical Supervision</div><hr></div>
			<div class='technique-content'>
			<%- include('./sa-supervision.ejs') -%>
			<%- include('./sa-effective.ejs') -%>
			<%- include('./sa-who.ejs') -%>
			<%- include('./sa-life.ejs') -%>

			</div>
		</div>

	</div>

